= form_for [@task, @material_cost] do |f|
  -if @material_cost.errors.any?
    #error_explanation
      %h2= "#{pluralize(@material_cost.errors.count, "error")} prohibited this material_cost from being saved:"
      %ul
        - @material_cost.errors.full_messages.each do |msg|
          %li= msg

  = f.label :supplier
  = f.collection_select :supplier_id, @project.suppliers, :id, :name

  = f.submit 'Save'
    

