-context ||= :po
-remote ||= false

= form_for [@task, @material_cost], :remote => remote do |f|
  -if @material_cost.errors.any?
    #error_explanation
      %h2= "#{pluralize(@material_cost.errors.count, "error")} prohibited this material_cost from being saved:"
      %ul
        - @material_cost.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :supplier
    = f.autocomplete_field :supplier_name, autocomplete_supplier_name_material_costs_path(@material_cost), :id_element => "#supplier_id"
    =# f.hidden_field :supplier_id
    =# f.collection_select :supplier_id, @suppliers, :id, :name
    =#or
    =#link_to "(Add new Supplier)", new_supplier_path

  -unless context == :po
    .field
      = f.label :cost
      = f.text_field :cost
      
  .field.submit
    = f.submit 'Save'
    

