= form_for [@task, @material_cost] do |f|
  -if @material_cost.errors.any?
    #error_explanation
      %h2= "#{pluralize(@material_cost.errors.count, "error")} prohibited this material_cost from being saved:"
      %ul
        - @material_cost.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
    
  - f.fields_for :line_items do |line|
    = line.label :supplier
    = line.collection_select :supplier_id, @project.suppliers, :id, :name
    
    = line.label :name
    = line.text_field :name

    = line.label :quantity
    = line.text_field :quantity
    
  .actions
    = f.submit 'Save'
    

