%table
  -unless context == :project
    %tr
      %th Purchase Order
      -if context != :po
        %th.currency Cost
        %th.currency Cost w/ Markup
      %th.control
      %th.control
  -else
    %tr
      %th{:colspan => 10}
        Task:
        =task.name

  - material_costs.each do |material_cost|
    %tr
      %td=link_to "#{material_cost.supplier.name}: #{material_cost.date.to_s( :long )}", [@task, material_cost]
      -if context != :po
        %td.currency= number_to_currency material_cost.raw_cost
        %td.currency= number_to_currency material_cost.cost
      - if context == :po
        %td.control= link_to 'Log Cost', edit_task_material_cost_path(task, material_cost)
      - else
        %td.control= link_to 'Edit Cost', edit_task_material_cost_path(task, material_cost)
      %td.control= link_to icon(:delete), [@task, material_cost], :confirm => 'Are you sure?', :method => :delete

  - if material_costs.empty?
    %tr
      %td{:colspan => 10} (None)
      
  - if context == :po
    %tr.control.add_button
      %td{:colspan => 10}
        =link_to new_task_material_cost_path(@task), :remote => true do
          = icon(:add)
          Add Purchase Order
  
  - if context == :task
    %tr.totals
      %td.right
        %strong Subtotal
      %td.currency
        %strong= number_to_currency( material_costs.inject(0) {|memo,obj| add_or_nil memo, obj.raw_cost })
      %td{:colspan => 3}
