-costs = MaterialCost.joins(:task).where('tasks.project_id = ?', @project.id).purchase_order

#current_purchase_orders
  %table
    -costs.purchase_order.each do |po|
      %tr{:id => "purchase_order_#{po.id}"}
        %td= link_to po.task.name, [@project, po.task]
        %td= link_to "#{po.supplier.name}, #{po.date.strftime('%A %b %d')}", [po.task, po]
        %td.control= 'Log Cost'
    -if costs.purchase_order.empty?
      %tr
        %td{:colspan => 2} (None)
        
