%table
  %tr
    %th Name
    %th Est. Cost
    %th
    %th
    %th

  - components.each do |component|
    %tr
      %td= component.name
      %td.currency= number_to_currency(component.estimated_cost)
      %td.control= link_to 'Show', [@project, component]
      %td.control= link_to 'Edit', edit_project_component_path(@project, component)
      %td.control= link_to 'Destroy', [@project, component], :confirm => 'Are you sure?', :method => :delete
      
  %tr.totals
    %td.right
      %strong Subtotal
    %td.currency
      %strong= number_to_currency( components.inject(0) {|memo,obj| memo + obj.estimated_cost })
    %td{:colspan => 4}