%table#components
  %tr
    %th Name
    %th.currency Est. Cost
    %th.control
    %th.control
    %th.control

  - components.each do |component|
    %tr{:id => "component_#{component.id}"}
      %td= component.name
      %td.currency= number_to_currency(component.estimated_cost)
      %td.control.show= link_to 'Show', [@project, component]
      %td.control.edit= link_to 'Edit', edit_project_component_path(@project, component), :remote => true
      %td.control.destroy= link_to 'Destroy', [@project, component], :confirm => 'Are you sure?', :method => :delete
      
  - if components.empty?
    %tr
      %td{:colspan => 5} (None)
  
  %tr.control.add_button
    %td{:colspan => 5}= link_to '(Add Component)', |
      components.empty? || components.first.is_root? ? |
        new_project_component_path(@project) : |
        new_project_component_path(@project, :parent_id => components.first.parent.id), |
      :remote => true |
      
  %tr.totals
    %td.right
      %strong Subtotal
    %td.currency
      %strong= number_to_currency( components.inject(0) {|memo,obj| add_or_nil( memo, obj.estimated_cost ) })
    %td{:colspan => 4}
    