= form_for [@project, @component] do |f|
  -if @component.errors.any?
    #error_explanation
      %h2= "#{pluralize(@component.errors.count, "error")} prohibited this component from being saved:"
      %ul
        - @component.errors.full_messages.each do |msg|
          %li= msg

  %h1
    .field
      = f.label :name
      = f.text_field :name
  .actions
    = f.submit 'Save'

