= form_for [@project, @component] do |f|
  -if @component.errors.any?
    #error_explanation
      %h2= "#{pluralize(@component.errors.count, "error")} prohibited this component from being saved:"
      %ul
        - @component.errors.full_messages.each do |msg|
          %li= msg

  %h1
    .field
      = f.label :name
      = f.text_field :name
      
      
  %h2 Parent Component
  
  -unless @component.new_record?
    = f.collection_select(:parent_id, (@project.components.roots.map{|c| c.subtree}.flatten - @component.subtree.flatten), :id, :select_label, { :include_blank => "-- Top Level --" }, :onchange =>"$('#edit_component_#{@component.id}').submit();")
  -else
    = f.collection_select(:parent_id, @project.components.roots.map{|c| c.subtree}.flatten, :id, :select_label, { :include_blank => "-- Top Level --" }, :onchange =>"$('#edit_component_#{@component.id}').submit();")
    
  %hr
  
  .actions
    = f.submit 'Save'

