%tr{:class => (component == @context_component ? 'emphasize' : nil), :id => "component_#{component.id}"}
  %td{:class => "indent_#{indent} #{component.parent == @context_component ? 'drag_handle' : nil}"}
    -if component == @context_component
      %strong=component.name
    -else
      =link_to component.name, [@project, component]
  %td.currency= number_to_currency component.estimated_raw_cost
  %td.currency= number_to_currency component.estimated_cost
  -if component == @context_component
    %td{:colspan => 2}
  -else
    %td.control.edit= link_to 'Rename', edit_project_component_path(@project, component, :context => ( @context_component.nil? ? nil : @context_component.id ) ), :remote => true
    -if @component.nil? || @context_component.nil?
      %td.control.destroy= link_to icon(:delete), project_component_path(@project, component, :redirect => project_components_path(@project)), :confirm => 'Are you sure?', :method => :delete
    -else
      %td.control.destroy= link_to icon(:delete), project_component_path(@project, component, :redirect => project_component_path(@project, @context_component)), :confirm => 'Are you sure?', :method => :delete

  -if component == @context_component
    %tr.add_button
      %td{:class => "indent_#{indent+1}", :colspan => 6}
        = link_to( ( new_project_component_path(@project, :parent_id => component.id, :context => component.id) ), :remote => true ) do
          = icon(:add)
          Add Subcomponent
              
-if component == @context_component
  %tbody#components
    -component.children.each do |child|
      = render :partial => 'hierarchy_recursion', :locals => {:component => child, :indent => (indent +1)}      
-else
  -component.children.each do |child|
    = render :partial => 'hierarchy_recursion', :locals => {:component => child, :indent => (indent +1)}

  
  