%table.components
  %tr
    %th Name
    %th.currency Cost
    %th.currency Cost w/ Markup
    %th.control
    %th.control
    %th.control
    
  %tr
    %td
      %strong= link_to @project.name, @project
    %td.currency= number_to_currency @project.estimated_raw_cost
    %td.currency= number_to_currency @project.estimated_cost
    %td.control.show= link_to 'Show', @project
    %td
    %td
  %tr
    %td.indent_1{:colspan => 6}
      = link_to( ( new_project_component_path(@project) ), :remote => true ) do
        =icon(:add)
        Add Top-Level Component
          
  -@project.components.roots.all.each do |component|
    =render :partial => 'hierarchy_recursion', :locals => {:component => component, :indent => 1}