<% if @component.errors.any? %>
  //Error
  
  <% content_for :error_tr do %>
    <tr class='error'><td colspan = 10><strong><%= error_messages_for(@component) %></strong></td></tr>
  <% end %>

  //Hide the flash notice div
  $("#flash_notice").hide(300);

  //Add a table row above the input with error info
  $("tr.error").remove();
  $("tr.component_fields").before("<%= escape_javascript( yield :error_tr ) %>");

<% else %>
  //Success
  
  <% content_for :table do %>
    <%= "context: #{@context_component}" %>
  	<%=render :partial => 'hierarchy', :locals => {:context => @context_component}%>
  <% end %>

  //Update the html of the div flash_notice with the new one
  $("#flash_notice").html("<%= escape_javascript(flash[:notice])%>");

  //Show the flash_notice div
  $("#flash_notice").show(300);

  //Replace the html of the div post_lists with the updated new one
  $('form.new_component').html( "<%= escape_javascript( yield :table ) %>");

  //Remove the form
  $('table.components').unwrap();
  
  //Load a new entry field
  //$('table.components tr.add_button > td > a').click();
  
<% end %>
