%h1 Listing components

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @components.each do |component|
    %tr
      %td= component.name
      %td= link_to 'Show', component
      %td= link_to 'Edit', edit_component_path(component)
      %td= link_to 'Destroy', component, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Component', new_component_path
