-content_for :head do
  =javascript_include_tag "autocomplete-rails.js"
  =#stylesheet_link_tag 'jquery.theme.css', :media => 'screen, projection'
  = javascript_include_tag 'jquery.tablednd.js'
  =render :partial => 'dnd.js', :locals => {:url => sort_project_component_path(@project, @component)}
    
=render :partial => 'shared/project_nav', :locals => {:current => :components}

.container

  =render :partial => 'nav', :locals => {:current => :costs}

  #costs
    %h2 Estimated Costs

    =link_to new_cost_project_component_path(@project, @component) do
      %button 
        =icon :add
        Add Cost

    -@component.unit_cost_estimates.each do |unit_cost|
      =render :partial => 'unit_cost_estimates/list_div', :locals => {:unit_cost => unit_cost}
  
    -@component.fixed_cost_estimates.each do |fixed_cost|
      =render :partial => 'fixed_cost_estimates/list_div', :locals => {:fixed_cost => fixed_cost}
  
    -@component.contracts.each do |contract|
      =render :partial => 'contracts/list_div', :locals => {:contract => contract}
  
    -if @component.unit_cost_estimates.empty? && @component.fixed_cost_estimates.empty? && @component.contracts.empty?
      .cost
        %h3.left No Costs defined for this Component
    %hr

    %h2 Subtotal

    .cost
      %h3
        .left Raw Cost
        .right= number_to_currency @component.estimated_raw_component_cost
    .cost
      -@component.markups.each do |markup|
        .left
          %h3
            =markup.name
            =number_to_percentage markup.percent, :precision => 0
            
        %h3.right= number_to_currency markup.apply_to(@component, :estimated_raw_component_cost)
    
    .cost
      %h3
        .left Component Cost
        .right= number_to_currency @component.estimated_component_cost

        .left Subcomponent Cost
        .right= number_to_currency @component.estimated_subcomponent_cost
    .cost.last
      %h3
        .left
          %strong Total Cost
        .right
          %strong= number_to_currency @component.estimated_cost

      
          
