=render :partial => 'shared/project_nav'

%h1
  Design Component: 
  =render :partial => 'shared/breadcrumbs', :locals => {:ancestors => @component.ancestors}
  = @component.name

Parent Component: 
=form_for [@project, @component] do |f|
  = f.collection_select(:parent_id, @project.components.roots.map{|c| c.subtree}.flatten, :id, :select_label, { :include_blank => "-- Top Level --" }, :onchange =>"$('#edit_component_#{@component.id}').submit();")

%hr

%h2 Markups

=render :partial => 'markups/markup_lines', :locals => {:parent_object => @component, :markups => @component.markups}

%h2 Sub-Components
=render :partial => 'component_list', :locals => {:parent => @component, :components => @component.children.order(:name)}

%hr

%h2 Quantities
=render :partial => 'quantities/quantity_list', :locals => {:quantities => @component.quantities, :component => @component}

%h2 Estimated Costs
%h3 Unit Costs
=render :partial => 'unit_cost_estimates/unit_cost_estimate_list', :locals => {:parent => @component, :unit_cost_estimates => @component.unit_cost_estimates, :limit => 50, :context => :component}
%h3 Fixed Costs
=render :partial => 'fixed_cost_estimates/fixed_cost_estimate_list', :locals => {:parent => @component, :fixed_cost_estimates => @component.fixed_cost_estimates, :limit => 50, :context => :component}

%hr

%h2 Totals

%table
  %tr
    %th
    %th.currency Est. Cost
    %th.control
    %th.control
    %th.control
  %tr
    %td Estimated Unit Costs
    %td.currency= number_to_currency(@component.estimated_component_unit_cost)
  %tr
    %td Estimated Fixed Costs
    %td.currency= number_to_currency(@component.estimated_component_fixed_cost)
  %tr
    %td Sub-Component Costs
    %td.currency= number_to_currency(@component.estimated_subcomponent_cost)
  %tr.totals
    %td.right
      %strong Component Subtotal
    %td.currency
      %strong= number_to_currency(@component.estimated_cost)
    
    
        
