= form_for [@project, @component, @derived_quantity] do |f|
  -if @derived_quantity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@derived_quantity.errors.count, "error")} prohibited this derived_quantity from being saved:"
      %ul
        - @derived_quantity.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :multiplier
    = f.text_field :multiplier
  .actions
    = f.submit 'Save'
