%h1 Listing derived_quantities

%table
  %tr
    %th Name
    %th Multiplier
    %th
    %th
    %th

  - @derived_quantities.each do |derived_quantity|
    %tr
      %td= derived_quantity.name
      %td= derived_quantity.multiplier
      %td= link_to 'Show', project_component_derived_quantity_path(@project, @component, derived_quantity)
      %td= link_to 'Edit', edit_project_component_derived_quantity_path(@project, @component, derived_quantity)
      %td= link_to 'Destroy', project_component_derived_quantity_path(@project, @component, derived_quantity), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Derived quantity', new_project_component_derived_quantity_path(@project, @component)
