%h1 Listing derived_quantities

%table
  %tr
    %th Name
    %th.number Multiplier
    %th.control
    %th.control
    %th.control

  - @derived_quantities.each do |derived_quantity|
    %tr
      %td= derived_quantity.name
      %td.number= derived_quantity.multiplier
      %td.control= link_to 'Show', [@component, derived_quantity]
      %td.control= link_to 'Edit', edit_component_derived_quantity_path(@component, derived_quantity)
      %td.control= link_to 'Destroy', [@component, derived_quantity], :confirm => 'Are you sure?', :method => :delete

  - if @derived_quantities.empty?
    %tr
      %td{:colspan => 10} (None)
%br

= link_to 'New Derived quantity', new_component_derived_quantity_path(@component)
