%p#notice= notice

%p
  %b Name:
  = @derived_quantity.name
%p
  %b Multiplier:
  = @derived_quantity.multiplier

= link_to 'Edit', edit_component_derived_quantity_path(@component, @derived_quantity)
\|
= link_to 'Back', component_derived_quantities_path(@component)
