%p#notice= notice

%p
  %b Name:
  = @derived_quantity.name
%p
  %b Multiplier:
  = @derived_quantity.multiplier

= link_to 'Edit', edit_project_component_derived_quantity_path(@project, @component, @derived_quantity)
\|
= link_to 'Back', project_component_derived_quantities_path(@project, @component)
