-unit_cost_estimate ||= @unit_cost_estimate

.container.cost_creation.unit_cost_estimate
  = form_for [@component, unit_cost_estimate] do |f|
    .full_width
    
      -if unit_cost_estimate.errors.any?
        #error_explanation
          %h2= "#{pluralize(@unit_cost_estimate.errors.count, "error")} prohibited this unit_cost_estimate from being saved:"
          %ul
            - unit_cost_estimate.errors.full_messages.each do |msg|
              %li= msg
      %h1
        .field
          = f.label :name
          = f.text_field :name, :tabindex => 1
          
    .left
      %h2 Quantity
      
      .limit_height{:tabindex => 2}
        %ul
          -@project.component_tree.map{|c| c.quantities.empty? ? nil : c}.compact.each do |c|
            %li
              %h3=c.name
              
              %ul
                -c.quantities.each do |q|
                  %li
                    =f.radio_button :quantity_id, q.id
                    %label{:for => "unit_cost_estimate_quantity_id_#{q.id}"}
                      =q.name
                      %em
                        =q.value
                        =q.unit
          
    .right        
      %h2 Unit Cost
      
      .field
        = f.label :unit_cost
        = f.text_field :unit_cost, :tabindex => 3
      .field
        = f.label :drop, '% Drop'
        =f.text_field :drop, :tabindex => 4

      %h2 Parent Component
      
      .field
        =f.select :component_id, @project.component_tree.map{|c| ['--' * c.depth + c.name, c.id] }
    
      %h2 Task
      
      (not implemented)
      
    %hr
    
    .full_width
      .actions
        = f.submit 'Save', :tabindex => 5
