-unit_cost_estimate ||= @unit_cost_estimate
-unit_cost_estimate.build_quantity if unit_cost_estimate.quantity.blank?

.container.cost_creation.unit_cost_estimate

  .full_width
    = form_for [@component, unit_cost_estimate] do |f|
      -if unit_cost_estimate.errors.any?
        #error_explanation
          %h2= "#{pluralize(@unit_cost_estimate.errors.count, "error")} prohibited this unit_cost_estimate from being saved:"
          %ul
            - unit_cost_estimate.errors.full_messages.each do |msg|
              %li= msg
        
      %h1
        Unit Cost
        ='(New Quantity)' if unit_cost_estimate.new_record?
        
      .large_input
        .name.inline_block
          = f.text_field :name
          = f.label :name, 'Name (Plywood Subfloor)'
                
      .large_input
        (
        =f.fields_for :quantity do |quantity_form|
          -quantity_form.object.component ||= @component
          = quantity_form.hidden_field :component_id
          
          .name.inline_block
            =quantity_form.text_field :name
            =':'
            =quantity_form.label :name, 'Quantity Name (Floor Area)'
          .value.inline_block
            =quantity_form.text_field :value
            =quantity_form.label :value, 'Value (250.0)'
          .unit.inline_block
            =quantity_form.text_field :unit
            =quantity_form.label :unit, 'Unit (sf)'
        +
        .drop.inline_block
          =f.text_field :drop
          ='%'
          =f.label :drop, 'Drop (10)'
        ) x
        .unit_cost
          $
          .inline_block
            =f.text_field :unit_cost
            =f.label :unit_cost, 'Unit Cost (5.0)'

        %p.actions
          = f.hidden_field :component_id
          = f.submit 'Save'         

      -unless unit_cost_estimate.new_record? 
        %hr
    
        %h2 Parent Component

        .field
          =f.select :component_id, @project.component_tree.map{|c| ['--' * c.depth + c.name, c.id] }

        %hr
        
        %h2 Task
        
        %p
          %h3 New Task
          =f.label :task_name, 'Task Name'
          =text_field_tag 'unit_cost_estimate[task_name]'
          
        %p
          %h3 Existing Task
          -@project.tasks.each do |task|
            =f.radio_button :task_id, task.id
            =f.label :task_id, task.name, :value => task.id
            %br

        %hr
        
        %p.actions
          = f.submit 'Save'
            
  -quantities = Quantity.includes(:component).where('components.project_id = ?', @project.id)
            
  -unless quantities.empty?
    .full_width
      =form_for [@component, unit_cost_estimate] do |f|
        
        -if unit_cost_estimate.errors.any?
          #error_explanation
            %h2= "#{pluralize(@unit_cost_estimate.errors.count, "error")} prohibited this unit_cost_estimate from being saved:"
            %ul
              - unit_cost_estimate.errors.full_messages.each do |msg|
                %li= msg
                
        %h1 Unit Cost (Existing Quantity)
        
        .large_input
          .name.inline_block
            = f.text_field :name
            = f.label :name, 'Name (Plywood Subfloor)'
        

        .large_input
          (
          =f.collection_select :quantity_id, quantities, :id, :optgroup_label
          +
          .drop.inline_block
            =f.text_field :drop
            ='%'
            =f.label :drop, 'Drop (10)'
          ) x
          .unit_cost
            $
            .inline_block
              =f.text_field :unit_cost
              =f.label :unit_cost, 'Unit Cost (5.0)'
          
        %p.actions
          = f.submit 'Save'

