-unit_cost_estimate ||= @unit_cost_estimate

= form_for [@component, unit_cost_estimate] do |f|
  -if unit_cost_estimate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@unit_cost_estimate.errors.count, "error")} prohibited this unit_cost_estimate from being saved:"
      %ul
        - unit_cost_estimate.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    %strong= f.label :component
    = f.collection_select :component_id, |
      @component.ancestors.all + [@component] + @component.subtree, |
      :id, |
      :name |
  .field
    %strong= f.label :quantity
    = f.grouped_collection_select :quantity_id, |
      @component.ancestors.all + [@component], |
      :quantities, |
      :name, |
      :id, |
      :optgroup_label |
  .field
    = f.label :unit_cost
    = f.text_field :unit_cost
  .field
    = f.label :drop
    =f.text_field :drop
  .actions
    = f.submit 'Save'
