.cost.unit_cost_estimate.expand_active_area
  .left
    %h3=link_to unit_cost.name, edit_component_unit_cost_estimate_path(unit_cost.component_id, unit_cost)
    =link_to icon(:delete), [@component, unit_cost], :confirm => 'Are you sure?', :method => :delete
      
  .right
    .de_emphasize
      -if !unit_cost.drop.nil? && unit_cost.drop > 0
        ="#{unit_cost.quantity.value * (1+unit_cost.drop/100)} #{unit_cost.quantity.unit} @ #{number_to_currency unit_cost.unit_cost}/#{unit_cost.quantity.unit.singularize}"    
      -else
        ="#{unit_cost.quantity.value}#{unit_cost.quantity.unit} @ #{number_to_currency unit_cost.unit_cost}/#{unit_cost.quantity.unit.singularize}"    
    %h3
      =number_to_currency unit_cost.estimated_raw_cost
      ='/'
      %strong=number_to_currency unit_cost.estimated_cost
    
  .details
    .left
      .quantity
        %strong Quantity:
        =unit_cost.quantity.name
        %em
          -if !unit_cost.drop.nil? && unit_cost.drop > 0
            ="#{unit_cost.quantity.value} #{unit_cost.quantity.unit} & #{number_to_percentage unit_cost.drop, :precision => 0} drop"
            &raquo;
            %strong="#{unit_cost.quantity.value * (1+unit_cost.drop/100)} #{unit_cost.quantity.unit}"
          -else
            %strong="#{unit_cost.quantity.value} #{unit_cost.quantity.unit}"   

      .task
        %strong Task:
        -unless unit_cost.task.blank?
          =unit_cost.task.name
        -else
          (None)  


    
