%table
  %tr
    %th Name
    %th Task
    %th.currency Unit cost
    %th.number Tax
    %th.currency Cost
    %th.control
    %th.control
    %th.control

  - unit_cost_estimates.each do |unit_cost_estimate|
    %tr
      %td= unit_cost_estimate.name
      %td= unit_cost_estimate.task.blank? ? nil : unit_cost_estimate.task.name
      %td= number_to_currency(unit_cost_estimate.unit_cost)
      %td= unit_cost_estimate.tax
      %td= number_to_currency(unit_cost_estimate.cost, :unit => "$")
      %td= link_to 'Show', [@component, unit_cost_estimate]
      %td= link_to 'Edit', edit_component_unit_cost_estimate_path(@component, unit_cost_estimate)
      %td= link_to 'Destroy', [@component, unit_cost_estimate], :confirm => 'Are you sure?', :method => :delete

  - if unit_cost_estimates.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.totals
    %td.right{:colspan => 4}
      %strong Subtotal
    %td
      %strong= number_to_currency( unit_cost_estimates.inject(0) {|memo,obj| add_or_nil memo, obj.cost })
    %td{:colspan => 4}
    
