%table
  %tr
    %th Name
    %th Unit cost
    %th Tax
    %th
    %th
    %th

  - unit_cost_estimates.each do |unit_cost_estimate|
    %tr
      %td= unit_cost_estimate.name
      %td= unit_cost_estimate.unit_cost
      %td= unit_cost_estimate.tax
      %td= link_to 'Show', [@component, unit_cost_estimate]
      %td= link_to 'Edit', edit_component_unit_cost_estimate_path(@component, unit_cost_estimate)
      %td= link_to 'Destroy', [@component, unit_cost_estimate], :confirm => 'Are you sure?', :method => :delete
