%table
  %tr
    %th Name
    %th Task
    %th Unit cost
    %th Tax
    %th Cost
    %th
    %th
    %th

  - unit_cost_estimates.each do |unit_cost_estimate|
    %tr
      %td= unit_cost_estimate.name
      %td= unit_cost_estimate.task.blank? ? nil : unit_cost_estimate.task.name
      %td.currency= number_to_currency(unit_cost_estimate.unit_cost)
      %td.number= unit_cost_estimate.tax
      %td.currency= number_to_currency(unit_cost_estimate.cost, :unit => "$")
      %td.control= link_to 'Show', [@component, unit_cost_estimate]
      %td.control= link_to 'Edit', edit_component_unit_cost_estimate_path(@component, unit_cost_estimate)
      %td.control= link_to 'Destroy', [@component, unit_cost_estimate], :confirm => 'Are you sure?', :method => :delete

  %tr.totals
    %td.right{:colspan => 4}
      %strong Subtotal
    %td.currency
      %strong= number_to_currency( unit_cost_estimates.inject(0) {|memo,obj| memo + obj.cost })
    %td{:colspan => 4}