-context ||= :component
-limit ||= 10

%table.unit_costs
  %tr
    %th Name
    %th Quantity
    %th.number Drop
    %th.currency Unit cost
    -if context == :component
      %th= "Task"
    -unless context == :project
      %th.currency Cost
    %th.currency Cost w/ Markup
    %th.control
    %th.control
    %th.control

  - unit_cost_estimates.limit(limit).each do |unit_cost_estimate|
    %tr{:id => "unit_cost_estimate_#{unit_cost_estimate.id}"}
      %td= unit_cost_estimate.name
      %td
        = unit_cost_estimate.quantity.value.to_i
        = unit_cost_estimate.quantity.unit
        from
        %i= unit_cost_estimate.quantity.name
      %td.number= number_to_percentage unit_cost_estimate.drop, :precision => 1
      %td.currency= number_to_currency(unit_cost_estimate.unit_cost)
      - if context == :component
        %td= unit_cost_estimate.task.blank? ? nil : link_to( unit_cost_estimate.task.name, [@project,unit_cost_estimate.task] )
      - unless context == :project
        %td.currency= number_to_currency(unit_cost_estimate.raw_cost)
      %td.currency= number_to_currency(unit_cost_estimate.cost)
      - case context
      - when :component
        %td.control
        %td.control.edit= link_to 'Edit', edit_component_unit_cost_estimate_path((context == :task ? unit_cost_estimate.task : unit_cost_estimate.component), unit_cost_estimate, :context => context), :remote => true
        %td.control.destroy= link_to icon(:delete), [(context == :task ? unit_cost_estimate.task : unit_cost_estimate.component), unit_cost_estimate], :confirm => 'Are you sure?', :method => :delete
      - when :project
        %td.control{:colspan => 3}= link_to 'Set Task', edit_component_unit_cost_estimate_path((context == :task ? unit_cost_estimate.task : unit_cost_estimate.component), unit_cost_estimate, :context => context), :remote => true
      - when :task
        %td.control{:colspan => 3}
          from
          = link_to unit_cost_estimate.component.name, [@project, unit_cost_estimate.component]

  - if unit_cost_estimates.count > limit
    %tr
      %td{:colspan => 10}= "(#{unit_cost_estimates.count - limit} more not shown)"

  - if unit_cost_estimates.empty?
    %tr
      %td{:colspan => 10} (None)

  -if context == :component 
    %tr.control.add_button
      %td{:colspan => 10}
        = link_to new_component_unit_cost_estimate_path(@component), :remote => true do
          = icon(:add)
          Add Unit Cost
            
  %tr.totals
    %td.right{:colspan => 5}
      %strong Subtotal
    %td.currency
      %strong= number_to_currency( unit_cost_estimates.inject(0) {|memo,obj| add_or_nil memo, obj.raw_cost })
    %td.currency
      %strong= number_to_currency( unit_cost_estimates.inject(0) {|memo,obj| add_or_nil memo, obj.cost })
    %td{:colspan => 4}
    
