%p#notice= notice

%p
  %b Name:
  = @unit_cost_estimate.name
%p
  %b Unit cost:
  = @unit_cost_estimate.unit_cost

= link_to 'Edit', edit_component_unit_cost_estimate_path(@component, @unit_cost_estimate)
\|
= link_to 'Back', component_unit_cost_estimates_path(@component)

