%p#notice= notice

%p
  %b Name:
  = @unit_cost_estimate.name
%p
  %b Unit cost:
  = @unit_cost_estimate.unit_cost
%p
  %b Tax:
  = @unit_cost_estimate.tax

= link_to 'Edit', edit_project_component_unit_cost_estimate_path(@project, @component, @unit_cost_estimate)
\|
= link_to 'Back', project_component_unit_cost_estimates_path(@project, @component)
