%table
  %tr
    %th.number{:rowspan => 2} Item No.
    %th{:rowspan => 2} Description of Work
    %th.currency{:rowspan => 2} Scheduled Value
    %th{:colspan => 2} Work Completed
    %th.currency{:rowspan => 2} Materials Presently Stored
    %th.currency{:rowspan => 2} Total Completed and Stored
    %th.number{:rowspan => 2} %
    %th.currency{:rowspan => 2} Balance to Finish
    %th.currency{:rowspan => 2} Retainage
    
  %tr
    %th.currency From Previous Application
    %th.currency This Period
    
  -@invoice.lines.each do |line|
    %tr
      %td.number
      %td= line.cost.name
      %td.currency= number_to_currency line.cost.estimated_cost
      %td.currency= number_to_currency line.cost.labor_invoiced_before(@invoice.date - 1)
      %td.currency= number_to_currency line.labor_invoiced
      %td.currency= number_to_currency line.cost.material_invoiced_before(@invoice.date)
      %td.currency= number_to_currency line.cost.invoiced_before(@invoice.date)
      %td.number
        -if line.cost.estimated_cost && line.cost.estimated_cost > 0
          = number_to_percentage 100 * line.cost.invoiced_before(@invoice.date) / line.cost.estimated_cost, :precision => 0
      %td.currency= number_to_currency line.cost.estimated_cost - line.cost.invoiced_before(@invoice.date)
      %td.currency= number_to_currency line.cost.retainage_before(@invoice.date)
  
  %tr
    %th.number
    %th Grand Totals
    %th.currency= number_to_currency @project.estimated_cost
    %th.currency= number_to_currency @project.labor_invoiced_before(@invoice.date - 1)
    %th.currency= number_to_currency subtract_or_nil @project.labor_invoiced, @project.labor_invoiced_before(@invoice.date - 1)
    %th.currency= number_to_currency @project.material_invoiced_before(@invoice.date)
    %th.currency= number_to_currency @project.invoiced_before(@invoice.date)
    %th.number= number_to_percentage 100 * @project.invoiced_before(@invoice.date) / @project.estimated_cost, :precision => 0
    %th.currency= number_to_currency @project.estimated_cost - @project.invoiced_before(@invoice.date)
    %th.currency= number_to_currency @project.retainage_before(@invoice.date)
