-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav', :locals => {:current => :invoicing}

.container
  %h1
    Invoice:
    =@invoice.name
    =@invoice.date

  %hr

  =render :partial => 'steps', :locals => {:current => :add_markups}

  / Add Markups
  %h2 Set Invoice Markup Amounts
  =form_for [@project, @invoice], :url => project_invoice_path(@project, @invoice) do |invoice_form|
    .field
      -@project.active_markups.each do |markup|
        =check_box_tag 'included_markups[]', markup.id, @invoice.markup_lines.includes(:markup).where('markups.id = ?', markup.id).exists?
        ="#{markup.name} (#{number_to_percentage markup.percent, :precision => 0})"
       
    =invoice_form.fields_for :markup_lines do |f|
      %p
        -markup_line = f.object
        %h3="#{markup_line.markup.name} (#{number_to_percentage markup_line.markup.percent, :precision => 0})"
        .field
          =f.label :labor_invoiced, "Labor Invoiced (#{number_to_currency markup_line.expected_labor_invoiced} expected)"
          =f.text_field :labor_invoiced
        .field
          =f.label :labor_retainage, "Labor Retainage (#{number_to_currency markup_line.expected_labor_retainage} expected)"
          =f.text_field :labor_retainage
        .field
          =f.label :material_invoiced, "Material Invoiced (#{number_to_currency markup_line.expected_material_invoiced} expected)"
          =f.text_field :material_invoiced
        .field
          =f.label :material_retainage, "Material Retainage (#{number_to_currency markup_line.expected_material_retainage} expected)"
          =f.text_field :material_retainage
      
    =hidden_field_tag :redirect_to, add_markups_invoice_path(@invoice)
    =invoice_form.submit 'Save Changes'

  -if @invoice.state == 'costs_specified'
    %p
      =form_tag accept_markups_invoice_path(@invoice), :method => :get do 
        =submit_tag 'Next Step'