-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav'

%h1
  Invoice:
  =@invoice.name
  =@invoice.date

%hr

=render :partial => 'steps', :locals => {:current => :start}

-if @invoice.state == 'missing_task'
  / Missing Task
  .error
    %h2 Before you can set invoice amounts...
    
    %p
      You currently have some tasks which have not been assigned to
      an estimated cost. Before you can create an invoice, you must ensure 
      that all recorded costs are associated with an estimate.
      
    %p
      To resolve this, either associate the tasks with an existing estimated cost, or create new
      cost estimates and assign them to each of the tasks.
    
    %p 
      This invoice has been saved in its current state; once these issues have been resolved
      you will be able to continue defining this invoice
      
    %h3 The following Tasks must be assigned to an estimated cost:
    %p
      -@project.tasks.where('raw_labor_cost > 0 OR raw_material_cost > 0').map{|task| task.unit_cost_estimates.empty? && task.fixed_cost_estimates.empty? ? task : nil}.compact.each do |task|
        =link_to task.name, [@project, task]

-elsif @invoice.state == 'payments_unbalanced'
  / Payments Unbalanced
  
  
-else
  / Start

=form_for [@project, @invoice] do |f|
  -if @invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice.errors.count, "error")} prohibited this labor_cost from being saved:"
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li= msg

  .field
  = f.label :name
  = f.text_field :name
              
  .field
  = f.label :date
  = f.date_select :date
  
  .field
  = f.submit 'Next'
