%table.markups
  %tr
    %th Name
    %th Percent
    %th
    %th
    %th

  - markups.each do |markup|
    %tr{:id => "markup_#{markup.id}"}
      %td= markup.name
      %td.number= number_to_percentage markup.percent, :precision => 1
      %td.control
      %td.control.edit= link_to 'Edit', edit_contract_markup_path(@contract, markup), :remote => true
      %td.control.destroy= link_to 'Remove', remove_contract_markup_path(@contract, markup), :confirm => 'Are you sure?'

  - if markups.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.control.add_button
    %td{:colspan => 10}
      = link_to '(Add New Markup)', new_contract_markup_path( @contract ), :remote => true
      -unless @inactive_markups.empty?
        or
        -form_tag add_markup_to_contract_path(@contract), :id => 'add_existing_markup', :method => :post do
          =select_tag :markup_id, options_from_collection_for_select(@inactive_markups, :id, :select_label), { :include_blank => "(Add Existing Markup)", :onchange =>"$('form#add_existing_markup').submit();" }
      
