-context ||= :contract

%table.contracts
  %tr
    %th Contract Name
    %th Contractor
    %th.currency Bid
    %th.number Markup
    %th.currency Cost w/ Markup
    -if context == :contract
      %th.currency Invoiced
      %th.number % Total
    %th.control
    %th.control
  
  %tbody#contracts
    - contracts.each do |contract|
      %tr{:id => "contract_#{contract.id}"}
        %td.drag_handle= link_to contract.name, [@project, contract]
        %td= contract.active_bid.contractor unless contract.active_bid.blank?
        %td.currency= number_to_currency contract.raw_cost
        %td.number= number_to_percentage contract.total_markup, :precision => 0
        %td.currency= number_to_currency contract.cost
        -if context == :contract
          %td.currency= number_to_currency contract.raw_invoiced
          %td.number= number_to_percentage( multiply_or_nil(100, divide_or_nil(contract.raw_invoiced, contract.raw_cost)), :precision => 1)
          %td.control.edit= link_to 'Edit', edit_project_contract_path(@project, contract), :remote => true
        -else
          %td.control.edit= link_to 'Edit', edit_component_contract_path(@component, contract), :remote => true
        %td.control.destroy= link_to icon(:delete), [@project, contract], :confirm => 'Are you sure?', :method => :delete
      
  - if contracts.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.control.add_button
    %td{:colspan => 10}
      = link_to context == :contract ? new_project_contract_path(@project) : new_component_contract_path(@component), :remote => true do
        =icon :add
        Add Contract
          
  %tr.totals
    %td{:colspan => 2}
      %strong Total
    %td.currency
      %strong= number_to_currency( contracts.inject(nil) {|memo,obj| add_or_nil memo, obj.raw_cost})
    %td
    %td.currency
      %strong= number_to_currency( contracts.inject(nil) {|memo,obj| add_or_nil memo, obj.cost})
    -if context == :contract
      %td.currency
        %strong= number_to_currency( contracts.inject(nil) {|memo,obj| add_or_nil memo, obj.raw_invoiced})
      %td.number
        %strong= number_to_percentage( multiply_or_nil( 100, divide_or_nil( @project.contract_invoiced, @project.contract_cost ) ), :precision => 1 )
    %td{:colspan => 3}
