%table.contracts
  %tr
    %th Contract Name
    %th Contractor
    %th.currency Bid
    %th.currency Cost-to-Date
    %th.number % Total
    %th.control
    %th.control
    %th.control

  - contracts.each do |contract|
    %tr{:id => "contract_#{contract.id}"}
      %td= contract.name
      %td= contract.active_bid.contractor unless contract.active_bid.blank?
      %td.currency= number_to_currency contract.bid
      %td.currency= number_to_currency contract.cost
      %td.number= number_to_percentage( multiply_or_nil(100, divide_or_nil(contract.cost, contract.bid)), :precision => 1)
      %td.control.show= link_to 'Show', [@project, contract]
      %td.control.edit= link_to 'Rename', edit_project_contract_path(@project, contract), :remote => true
      %td.control.destroy= link_to 'Destroy', [@project, contract], :confirm => 'Are you sure?', :method => :delete
      
  - if @contracts.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.control.add_button
    %td{:colspan => 10}= link_to '(Add Contract)', new_project_contract_path(@project), :remote => true |
      
  %tr.totals
    %td
      %strong Total
    %td.currency
      %strong= number_to_currency( @contracts.inject(0) {|memo,obj| add_or_nil memo, obj.bid})
    %td.currency
      %strong= number_to_currency( @contracts.inject(0) {|memo,obj| add_or_nil memo, obj.cost})
    %td.number
      %strong= @contracts.inject(0) {|memo,obj| add_or_nil memo, obj.cost} == 0 ? nil : number_to_percentage( multiply_or_nil(100, (@contracts.inject(0) {|memo,obj| add_or_nil memo, obj.bid}) / (@contracts.inject(0) {|memo,obj| add_or_nil memo, obj.cost})), :precision => 1)
    %td{:colspan => 4}
