%tr.contract_fields
  %td.field
    -unless @parent_contract.nil?
      = f.hidden_field :parent_id, :value => @parent_contract.id
    %strong= f.label :name
    = f.text_field :name
  %td.field
    -unless @contract.bids.empty?
      = f.collection_select :bid_id, @contract.bids, :id, :select_label, { :include_blank => "-- No Active Bid --" }

  %td{:colspan => @component.nil? ? 5 : 3}
  %td.actions.control{:colspan => 2}
    = f.hidden_field :component_id
    = f.submit 'Save'
      
