%h1 Listing contracts

=render :partial => 'shared/project_nav'

%table
  %tr
    %th Contract Name
    %th.currency Bid
    %th.currency Cost-to-Date
    %th.number % Total
    %th.control
    %th.control
    %th.control

  - @contracts.each do |contract|
    %tr
      %td= contract.name
      %td.currency= contract.bid
      %td.currency= contract.cost
      %td.number= number_to_percentage( multiply_or_nil(100, divide_or_nil(contract.cost, contract.bid)), :precision => 1)
      %td.control= link_to 'Show', [@project, contract]
      %td.control= link_to 'Edit', edit_project_contract_path(@project, contract)
      %td.control= link_to 'Destroy', [@project, contract], :confirm => 'Are you sure?', :method => :delete
      
  - if @contracts.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.totals
    %td
      %strong Total
    %td
      %strong= number_to_currency( @contracts.inject(0) {|memo,obj| add_or_nil memo, obj.bid})
    %td
      %strong= number_to_currency( @contracts.inject(0) {|memo,obj| add_or_nil memo, obj.cost})
    %td
      %strong= @contracts.inject(0) {|memo,obj| add_or_nil memo, obj.cost} == 0 ? nil : number_to_percentage( multiply_or_nil(100, (@contracts.inject(0) {|memo,obj| add_or_nil memo, obj.bid}) / (@contracts.inject(0) {|memo,obj| add_or_nil memo, obj.cost})))
    %td{:colspan => 4}

%br

= link_to 'New Contract', new_project_contract_path(@project)
