%h1 Listing contracts

%table
  %tr
    %th Contractor
    %th Bid
    %th
    %th
    %th

  - @contracts.each do |contract|
    %tr
      %td= contract.contractor
      %td= contract.bid
      %td= link_to 'Show', [@project, contract]
      %td= link_to 'Edit', edit_project_contract_path(@project, contract)
      %td= link_to 'Destroy', [@project, contract], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Contract', new_project_contract_path(@project)
