%h1 Listing contracts

=render :partial => 'shared/project_nav'

%table
  %tr
    %th Contract Name
    %th.currency Bid
    %th.currency Cost-to-Date
    %th.number % Total
    %th.control
    %th.control
    %th.control

  - @contracts.each do |contract|
    %tr
      %td= contract.name
      %td= contract.bid
      %td= contract.cost
      %td= number_to_percentage(100 * contract.cost / contract.bid, :precision => 1)
      %td= link_to 'Show', [@project, contract]
      %td= link_to 'Edit', edit_project_contract_path(@project, contract)
      %td= link_to 'Destroy', [@project, contract], :confirm => 'Are you sure?', :method => :delete
      
  - if @contracts.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.totals
    %td
      %strong Total
    %td
      %strong= number_to_currency( @contracts.inject(0) {|memo,obj| memo + obj.bid})
    %td
      %strong= number_to_currency( @contracts.inject(0) {|memo,obj| memo + obj.cost})
    %td
      %strong= @contracts.inject(0) {|memo,obj| add_or_nil memo, obj.cost} == 0 ? nil : number_to_percentage( 100 * (@contracts.inject(0) {|memo,obj| add_or_nil memo, obj.bid}) / (@contracts.inject(0) {|memo,obj| add_or_nil memo, obj.cost}))
    %td{:colspan => 4}

%br

= link_to 'New Contract', new_project_contract_path(@project)
