=render :partial => 'shared/project_nav'

%h1
  Fixed-Bid Contract: 
  = @contract.name

-unless @contract.bids.empty?
  %h2
    Bid:
    = number_to_currency @contract.estimated_raw_cost
    =form_for [@project, @contract] do |f|
      = f.collection_select(:bid_id, @contract.bids, :id, :select_label, { :include_blank => "-- No Active Bid --" }, :onchange =>"$('#edit_contract_#{@contract.id}').submit();")

Change parent component of 
%i=@contract.name
to:
.inline
  =form_for [@project, @contract], :html => {:id => "edit_contract_#{@contract.id}_component", :class => :edit_contract_component} do |f|
    = f.collection_select(:component_id, (@project.components.roots.map{|c| c.subtree}.flatten), :id, :select_label, :onchange => "$('#edit_contract_#{@contract.id}_component').submit();")

%hr

%h3 Invoices to Date
=render :partial => 'contract_costs/contract_costs_list', :locals => {:contract_costs => @contract.costs}

%hr

%h3 Bids
=render :partial => 'bids/bid_list', :locals => {:bids => @contract.bids}
