%p#notice= notice

%p
  %b Contractor:
  = @contract.contractor
%p
  %b Bid:
  = @contract.bid

= link_to 'Edit', edit_project_contract_path(@project, @contract)
\|
= link_to 'Back', project_contracts_path(@project)
