-@component = @contract.component
=render :partial => 'shared/project_nav', :locals => {:current => :contracts}

.container
  = render :partial => 'nav', :locals => {:current => :costs}

  %h1
    Fixed-Bid Contract: 
    = @contract.name

  -unless @contract.bids.empty?
    %h2
      Bid:
      = number_to_currency @contract.estimated_raw_cost
      =form_for [@project, @contract] do |f|
        = f.collection_select(:bid_id, @contract.bids, :id, :select_label, { :include_blank => "-- No Active Bid --" }, :onchange =>"$('#edit_contract_#{@contract.id}').submit();")

  .left

    %h2 Bids

    =render :partial => 'bids/bid_list', :locals => {:bids => @contract.bids}

    =add_button "Add Bid", new_contract_bid_path(@contract)

  .right        

    %h2 Invoices

    =render :partial => 'contract_costs/contract_costs_list', :locals => {:contract_costs => @contract.costs}

    =add_button "Add Invoice", new_contract_contract_cost_path(@contract)
