= form_for [@project, @task] do |f|
  -if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  %h1
    .field
      = f.label :name
      = f.text_field :name
      
    .field
      = f.label :percent_complete
      = f.text_field :percent_complete
  .actions
    = f.submit 'Save'
