%tr.task_fields
  %td.field{:colspan => 5}
    %strong= f.label :name
    = f.text_field :name
  %td.field
    %strong= f.label :active
    = f.check_box :active
  %td.actions.control{:colspan => 3}
    = f.submit 'Save'
      