%table.tasks
  %tr
    %th Name
    %th.currency Est. Cost
    %th.currency Cost-to-Date
    %th.number % Complete
    %th.control
    %th.control

  - tasks.each do |task|
    %tr{:id => "task_#{task.id}"}
      %td=link_to task.name, [@project, task]
      %td.currency= number_to_currency(task.estimated_cost)
      %td.currency= number_to_currency(task.cost)
      %td.number= number_to_percentage( task.percent_complete, :precision => 0 )
      %td.control= link_to "Log Hours", new_task_labor_cost_path(task)
      %td.control= link_to "New Purchase Order", new_task_material_cost_path(task)
      
  - if tasks.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.totals
    %td.right
      %strong Total
    %td.currency
      %strong= number_to_currency( tasks.inject(0) {|memo,obj| add_or_nil memo, obj.estimated_cost })
    %td.currency
      %strong= number_to_currency( tasks.inject(0) {|memo,obj| add_or_nil memo, obj.cost })
    %td.number
      %strong= tasks.inject(0) {|memo,obj| add_or_nil memo, obj.estimated_cost} == 0 ? nil : number_to_percentage(100 * (tasks.inject(0) {|memo,obj| add_or_nil memo, obj.cost}) / (tasks.inject(0) {|memo,obj| add_or_nil memo, obj.estimated_cost}), :precision => 1)
    %td{:colspan => 4}
    

