#active_task_summary
  %table.tasks
    %tr
      %th Name
      %th.currency Est. Cost
      %th.currency Markup
      %th.currency Cost-to-Date
      %th.currency.qtip_net Net
      %th.number % Complete (Est./Act.)
      %th Deadline
      %th.control
      %th.control
      
    %tr.emphasize
      %td{:colspan => 15} Active Tasks
      
    - @project.tasks.active.all.each do |task|
      %tr{:id => "task_#{task.id}"}
        %td=link_to task.name, [@project, task]
        %td.currency= number_to_currency(task.estimated_raw_cost)
        %td.currency= number_to_currency( subtract_or_nil( task.estimated_cost, task.estimated_raw_cost ) )
        %td.currency= number_to_currency(task.cost)
        %td.currency= number_to_currency task.projected_net
        %td.number
          = number_to_percentage( task.percent_complete, :precision => 0 )
          ='/'
          = number_to_percentage( multiply_or_nil( 100, divide_or_nil(task.cost, task.estimated_cost )), :precision => 0) || '--'
        %td
          -unless task.deadline.blank?
            -if task.deadline.date <= Date::today
              .error= date_relative_to_now(task.deadline.date) 
            -else
              = date_relative_to_now(task.deadline.date)
        %td.control
          =link_to new_task_labor_cost_path(task, :context => :project), :remote => true do
            =icon :add
            Hours
        %td.control
          =link_to new_task_material_cost_path(task), :remote => true do
            =icon :add
            PO
      
    - if @project.tasks.active.empty?
      %tr
        %td{:colspan => 10} (None)

    %tr.emphasize
      %td{:colspan => 15} Completed Tasks
      
    - @project.tasks.completed.all.each do |task|
      %tr{:id => "task_#{task.id}"}
        %td=link_to task.name, [@project, task]
        %td.currency= number_to_currency(task.estimated_raw_cost)
        %td.currency= number_to_currency( subtract_or_nil( task.estimated_cost, task.estimated_raw_cost ) )
        %td.currency= number_to_currency(task.cost)
        %td.currency= number_to_currency task.projected_net
        %td.number
          = number_to_percentage( task.percent_complete, :precision => 0 )
          ='/'
          = number_to_percentage( multiply_or_nil( 100, divide_or_nil(task.cost, task.estimated_cost )), :precision => 0) || '--'
        %td
          -unless task.deadline.blank?
            -if task.deadline.date <= Date::today
              .error= date_relative_to_now(task.deadline.date) 
            -else
              = date_relative_to_now(task.deadline.date)
        %td.control
        %td.control
      
    - if @project.tasks.completed.empty?
      %tr
        %td{:colspan => 10} (None)
        
    %tr.emphasize
      %td{:colspan => 15} Future Tasks
      
    - @project.tasks.future.all.each do |task|
      %tr{:id => "task_#{task.id}"}
        %td=link_to task.name, [@project, task]
        %td.currency= number_to_currency(task.estimated_raw_cost)
        %td.currency= number_to_currency( subtract_or_nil( task.estimated_cost, task.estimated_raw_cost ) )
        %td.currency= number_to_currency(task.cost)
        %td.currency= number_to_currency task.projected_net
        %td.number
          = number_to_percentage( task.percent_complete, :precision => 0 )
          ='/'
          = number_to_percentage( multiply_or_nil( 100, divide_or_nil(task.cost, task.estimated_cost )), :precision => 0) || '--'
        %td
          -unless task.deadline.blank?
            -if task.deadline.date <= Date::today
              .error= date_relative_to_now(task.deadline.date) 
            -else
              = date_relative_to_now(task.deadline.date)
        %td.control
          =link_to new_task_labor_cost_path(task, :context => :project), :remote => true do
            =icon :add
            Hours
        %td.control
          =link_to new_task_material_cost_path(task), :remote => true do
            =icon :add
            PO
      
    - if @project.tasks.future.empty?
      %tr
        %td{:colspan => 10} (None)
