%table.tasks
  %tr
    %th Name
    %th.currency Est. Cost
    %th.currency Cost-to-Date
    %th.currency.qtip_projected Projected Cost
    %th.number % Complete (Est./Act.)
    %th Status
    / %th.check_box Active
    %th.control
    %th.control

  - tasks.each do |task|
    %tr{:id => "task_#{task.id}"}
      %td= link_to task.name, [@project, task]
      / Est. Cost
      %td.currency= number_to_currency(task.estimated_cost)
      / Cost-to-Date
      %td.currency= number_to_currency(task.cost)
      / Projected Cost
      %td.currency= number_to_currency(task.projected_cost)
      / % Complete
      %td.number
        = number_to_percentage( task.percent_complete, :precision => 0 )
        ='/'
        = number_to_percentage( multiply_or_nil( 100, divide_or_nil(task.cost, task.estimated_cost )), :precision => 0) || '--'
      %td
        =form_for [@project, task], :url => project_task_path(@project,task, :render_nothing => true), :remote => true do |f|
          
          =f.radio_button :active, nil, {:onchange => '$(this.form).submit();'}
          =f.label 'Future'
          
          =f.radio_button :active, true, {:onchange => '$(this.form).submit();'}
          =f.label 'Active'
          
          =f.radio_button :active, false, {:onchange => '$(this.form).submit();'}
          =f.label 'Complete'
      / 
        Active
        %td.check_box
          =form_for [@project, task], :url => project_task_path(@project, task, :redirect_to => project_tasks_path(@project)), :html => {:id => "edit_task_#{task.id}_active"} do |f|
            = f.check_box :active, :onchange => "$('#edit_task_#{task.id}_active').submit();"
      %td.control.edit= link_to 'Edit', edit_project_task_path(@project, task, :context => 'tasks'), :remote => true
      %td.control.destroy= link_to icon(:delete), [@project, task], :confirm => 'Are you sure?', :method => :delete
      
  - if tasks.empty?
    %tr
      %td{:colspan => 12} (None)
      
  %tr.totals
    %td
      %strong Total
    %td.currency
      %strong= number_to_currency( tasks.map(&:estimated_cost).sum )
    %td.currency
      %strong= number_to_currency( tasks.map(&:cost).sum )
    %td.currency
      %strong= number_to_currency( tasks.map(&:projected_cost).sum )
    %td.number
      %strong
        ='--/'
        = tasks.inject(0) {|memo,obj| add_or_nil memo, obj.estimated_cost} == 0 ? nil : number_to_percentage(100 * (tasks.inject(0) {|memo,obj| add_or_nil memo, obj.cost}) / (tasks.inject(0) {|memo,obj| add_or_nil memo, obj.estimated_cost}), :precision => 1)
    %td{:colspan => 10}

