%table.tasks
  %tr
    %th Name
    %th.currency Est. Cost
    %th.currency Cost-to-Date
    %th.currency Projected Cost
    %th.number % of Est.
    %th.number % Complete
    %th.check_box Active
    %th Deadline
    %th.control
    %th.control
    %th.control

  - tasks.each do |task|
    %tr{:id => "task_#{task.id}"}
      %td= link_to task.name, [@project, task]
      %td.currency= number_to_currency(task.estimated_cost)
      %td.currency= number_to_currency(task.cost)
      %td.currency= number_to_currency(task.projected_cost)
      %td.number= number_to_percentage( multiply_or_nil( 100, divide_or_nil(task.projected_cost, task.estimated_cost )), :precision => 1)
      %td.number= number_to_percentage( task.percent_complete, :precision => 0 )
      %td.check_box
        =form_for [@project, task], :url => project_task_path(@project, task, :redirect_to => project_tasks_path(@project)), :html => {:id => "edit_task_#{task.id}_active"} do |f|
          = f.check_box :active, :onchange => "$('#edit_task_#{task.id}_active').submit();"
      %td
        -if task.deadline.blank?
          Set Deadline:
          = link_to 'New', new_task_deadline_path(task, :context => 'tasks'), :remote => true
          or
          =form_for [@project,task], :url => project_task_path(@project, task, :redirect_to => project_tasks_path(@project)), :html => {:id => "edit_task_#{task.id}_deadline"} do |f|
            =f.collection_select :deadline_id, @project.deadlines, :id, :select_label_short, {:include_blank => 'Existing'}, :onchange => "$('#edit_task_#{task.id}_deadline').submit();"
        -else
          = link_to( task.deadline.name, edit_task_deadline_path(task, :context => 'tasks'), :remote => true ) 
          = date_relative_to_now(task.deadline.date)
          = form_for [@project, task], :url => project_task_path(@project, task, :redirect_to => project_tasks_path(@project)) do |f|
            = f.hidden_field :deadline_id, :value => nil
            = f.submit 'Remove'
      %td.control.show= link_to 'Show', [@project, task]
      %td.control.edit= link_to 'Edit', edit_project_task_path(@project, task, :context => 'tasks'), :remote => true
      %td.control.destroy= link_to 'Destroy', [@project, task], :confirm => 'Are you sure?', :method => :delete
      
  - if tasks.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.control.add_button
    %td{:colspan => 11}= link_to '(Add Task)', new_project_task_path(@project), :remote => true |
      
  %tr.totals
    %td
      %strong Total
    %td.currency
      %strong= number_to_currency( tasks.inject(0) {|memo,obj| add_or_nil memo, obj.estimated_cost })
    %td.currency
      %strong= number_to_currency( tasks.inject(0) {|memo,obj| add_or_nil memo, obj.cost })
    %td.currency
      %strong= number_to_currency( tasks.inject(0) {|memo,obj| add_or_nil memo, obj.projected_cost })
    %td.number
      %strong= tasks.inject(0) {|memo,obj| add_or_nil memo, obj.estimated_cost} == 0 ? nil : number_to_percentage(100 * (tasks.inject(0) {|memo,obj| add_or_nil memo, obj.cost}) / (tasks.inject(0) {|memo,obj| add_or_nil memo, obj.estimated_cost}), :precision => 1)
    %td{:colspan => 10}
    

