<% if @task.errors.any? %>
  //Error
  
  <% content_for :error_tr do %>
    <tr class='error'><td colspan = 10><strong><%= error_messages_for(@task) %></strong></td></tr>
  <% end %>

  //Hide the flash notice div
  $("#flash_notice").hide(300);

  //Add a table row above the input with error info
  $("tr.error").remove();
  $("tr.task_fields").before("<%= escape_javascript( yield :error_tr ) %>");

<% else %>
  //Success
  
  <% content_for :table do %>
    <%=render :partial => @project.fixed_bid? ? 'task_list_fixed_bid' : 'task_list_cost_plus', :locals => {:tasks => @tasks} %>
  <% end %>

  //Update the html of the div flash_notice with the new one
  $("#flash_notice").html("<%= escape_javascript(flash[:notice])%>");

  //Show the flash_notice div
  $("#flash_notice").show(300);

  //Replace the html of the div post_lists with the updated new one
  $('form.new_task').html( "<%= escape_javascript( yield :table ) %>");

  //Remove the form
  $('table#tasks').unwrap();
  
  //Load a new entry field
  //$('tr.add_button > td > a').click();
  
<% end %>
