-content_for :head do
  =javascript_include_tag "autocomplete-rails.js"
  =javascript_include_tag "jquery.dimscreen.js"
  =stylesheet_link_tag 'jquery.theme.css', :media => 'screen, projection'
  
=render :partial => 'shared/project_nav', :locals => {:current => :tasks}

.container
  =render :partial => 'nav', :locals => {:current => :scheduling}


  -if @task.deadline.blank?
    Set Deadline:
    = link_to 'New', new_task_deadline_path(@task, :context => 'tasks'), :remote => true
    -unless @project.deadlines.empty?
      or
      .inline
        =form_for [@project,@task], :html => {:id => "edit_task_#{@task.id}_deadline"} do |f|
          =f.collection_select :deadline_id, @project.deadlines, :id, :select_label_short, {:include_blank => 'Existing'}, :onchange => "$('#edit_task_#{@task.id}_deadline').submit();"

  -else
    Deadline:
    %strong=link_to @task.deadline.name, edit_task_deadline_path(@task, :context => 'task'), :remote => true
    = @task.deadline.date.to_s :long
    = "(#{date_relative_to_now @task.deadline.date})"
    .inline
      = form_for [@project, @task], :html => {:id => "edit_task_#{@task.id}_deadline"} do |f|
        = f.hidden_field :deadline_id, :value => nil
        = f.submit 'Remove'

  =form_for [@project, @task], :html => {:id => "edit_task_#{@task.id}_active"} do |f|
    = f.label :active
    = f.check_box :active, :onchange => "$('#edit_task_#{@task.id}_active').submit();"

