-content_for :head do
  =javascript_include_tag "autocomplete-rails.js"
  =javascript_include_tag "jquery.dimscreen.js"
  =stylesheet_link_tag 'jquery.theme.css', :media => 'screen, projection'
  
=render :partial => 'shared/project_nav', :locals => {:current => :tasks}

.container
  =render :partial => 'nav', :locals => {:current => :summary}

  .main_actions
    =link_to new_task_material_cost_path( @task), :remote => true do
      %button
        =icon :add
        New Purchase Order
        
    =link_to new_task_labor_cost_path( @task), :remote => true do
      %button
        =icon :add
        Log Hours
      
    =link_to purchase_order_list_projects_path do
      %button
        =icon :printer
        Print All Purchase Orders

  %h2 Timeline
  
  (Later...)
  
  
  %h2 Cost Summary
  
  .cost
    %h3
      .left Raw Material Cost
      .right= number_to_currency @task.raw_material_cost
      
      .left Raw Labor Cost
      .right= number_to_currency @task.raw_labor_cost
      
      .left Total Raw Cost
      .right= number_to_currency @task.raw_cost
      
  .cost
    -@task.markups.each do |markup|
      .left
        %h3
          =markup.name
          =number_to_percentage markup.percent, :precision => 0
          
      %h3.right= number_to_currency markup.apply_to(@task, :raw_cost)
  
  .cost
    %h3
      .left
        %strong Cost to Date
      .right
        %strong= number_to_currency @task.cost
        
      .left Estimated Cost
      .right= number_to_currency @task.estimated_cost
        
  .cost
    %h3
      .left Estimated % Complete
      .right= number_to_percentage @task.percent_complete, :precision => 0
      
      .left Cost to Date as % of Estimated
      .right= number_to_percentage( @task.percent_of_estimated, :precision => 0 ) || '-'

