-content_for :head do
  =javascript_include_tag "autocomplete-rails.js"
  =javascript_include_tag "jquery.dimscreen.js"
  =stylesheet_link_tag 'jquery.theme.css', :media => 'screen, projection'
  
=render :partial => 'shared/project_nav'

%h1
  Construction Task:
  = @task.name
  
.main_actions
  =link_to "Log Hours", new_task_labor_cost_path( @task), :remote => true
  =link_to "New Purchase Order", new_task_material_cost_path( @task), :remote => true
  =link_to "Print All Purchase Orders", purchase_order_list_projects_path


-if @task.deadline.blank?
  Set Deadline:
  = link_to 'New', new_task_deadline_path(@task, :context => 'tasks'), :remote => true
  or
  .inline
    =form_for [@project,@task], :html => {:id => "edit_task_#{@task.id}_deadline"} do |f|
      =f.collection_select :deadline_id, @project.deadlines, :id, :select_label_short, {:include_blank => 'Existing'}, :onchange => "$('#edit_task_#{@task.id}_deadline').submit();"

-else
  Deadline:
  %strong=link_to @task.deadline.name, edit_task_deadline_path(@task, :context => 'task'), :remote => true
  = @task.deadline.date.to_s :long
  = "(#{date_relative_to_now @task.deadline.date})"
  .inline
    = form_for [@project, @task], :html => {:id => "edit_task_#{@task.id}_deadline"} do |f|
      = f.hidden_field :deadline_id, :value => nil
      = f.submit 'Remove'

=form_for [@project, @task], :html => {:id => "edit_task_#{@task.id}_active"} do |f|
  = f.label :active
  = f.check_box :active, :onchange => "$('#edit_task_#{@task.id}_active').submit();"

%hr

%h2 Markups

=render :partial => 'applied_markup_lines', :locals => {:markups => @task.markups}

%h2 Purchase Orders

=render :partial => 'material_costs/material_cost_list', :locals => {:task => @task, :material_costs => @task.purchase_orders, :context => :po}

%hr
  
%h2 Costs to Date
%h3 Labor
=render :partial => 'labor_costs/labor_cost_list', :locals => {:labor_costs => @task.labor_costs, :context => :task}
%h3 Material
=render :partial => 'material_costs/material_cost_list', :locals => {:task => @task, :material_costs => @task.completed_purchases, :context => :cost}

%hr

%h2 Total Cost

%table
  %tr
    %th
    %th.currency Cost
    %th.currency Cost w/ Markup
    %th.control
    %th.control
    %th.control
  %tr
    %td Labor Costs
    %td.currency= number_to_currency(@task.raw_labor_cost)
    %td.currency= number_to_currency(@task.labor_cost)
    %td{:colspan => 3}
  %tr
    %td Material Costs
    %td.currency= number_to_currency(@task.raw_material_cost)
    %td.currency= number_to_currency(@task.material_cost)
    %td{:colspan => 3}
  %tr.totals
    %td.right
      %strong Subtotal
    %td.right
      %strong= number_to_currency(@task.raw_cost)
    %td.right
      %strong= number_to_currency(@task.cost)
    %td{:colspan => 3}

%hr

%h2 Estimated Costs
%h3 Unit Costs
=render :partial => 'unit_cost_estimates/unit_cost_estimate_list', :locals => {:context => :task, :unit_cost_estimates => @task.unit_cost_estimates, :limit => 5}
%h3 Fixed Costs
=render :partial => 'fixed_cost_estimates/fixed_cost_estimate_list', :locals => {:context => :task, :fixed_cost_estimates => @task.fixed_cost_estimates, :limit => 5}
