= form_for @resource_allocation do |f|
  -if @resource_allocation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resource_allocation.errors.count, "error")} prohibited this resource_allocation from being saved:"
      %ul
        - @resource_allocation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.collection_select :resource_request_id, ResourceRequest.all, :id, :created_at
  .field
    = f.label :start_date
    = f.datetime_select :start_date
  .field
    = f.label :duration
    = f.text_field :duration
  .actions
    = f.submit 'Save'
