-content_for :head do
  =javascript_include_tag 'protovis-d3.2.js'
  
=render :partial => 'shared/project_nav', :locals => {:current => :resources}

.container

  %h1 Resource Allocation

  %h2 Timeline
  %script{:type => 'text/javascript+protovis'}
    / Includes the last point prior to the date range and the current value
    
    =render :partial => 'protovis_scheduling.js', :locals => {:height => 300, :width => 800, :xmin => 0, :xmax => 30, :ymin => 0}

  
  %h2 Resource Requests
  -Project.includes(:resource_requests).each do |project|
    -unless project.resource_requests.empty?
      %h3=project.name
      -project.resource_requests.each do |request|
        %p
          %strong="#{request.duration} days of #{request.resources.map{|r| r.name}.join(' & ')}"
          =request.comment
          %br
          -if !request.first_date.nil? && !request.deadline.nil?
            ="Between #{request.first_date.to_s(:short)} and #{request.deadline.to_s(:short)}"
          -elsif !request.first_date.nil?
            ="After #{request.first_date.to_s(:short)}"
          -elsif !request.deadline.nil?
            ="Before #{request.deadline.to_s(:short)}"
          %br
          %script{:type => 'text/javascript+protovis'}
            =render :partial => 'protovis_bins.js', :locals => {:height => 20, :width => 200, :xmin => 0, :xmax => 20, :ymin => 0, :request => request}
      
  
  %p  
    %h3 (To request a resource, click on the project below)
    -Project.all.each do |project|
      =link_to project.name, project_resource_requests_path(project)
