=render :partial => 'shared/project_nav', :locals => {:current => :resources}

.container

  %h1 Resource Allocation

  %table
    %tr
      %th Start date
      %th Duration
      %th
      %th
      %th

    - @resource_allocations.each do |resource_allocation|
      %tr
        %td= resource_allocation.start_date
        %td= resource_allocation.duration
        %td= link_to 'Show', resource_allocation
        %td= link_to 'Edit', edit_resource_allocation_path(resource_allocation)
        %td= link_to 'Destroy', resource_allocation, :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'New Resource allocation', new_resource_allocation_path
  
  %p  
    %h3 (To request a resource, click on the project below)
    -Project.all.each do |project|
      =link_to project.name, project_resource_requests_path(project)
