-@resource_request.resource_allocations

= form_for [@resource_request], :remote => true do |f|
  =hidden_field_tag :allocate_to, params[:allocate_to]
  
  -if @resource_request.errors.any?
    #error_explanation.error
      %h2= "#{pluralize(@resource_request.errors.count, "error")} prohibited this resource_request from being saved:"
      %ul
        - @resource_request.errors.full_messages.each do |msg|
          %li= msg

  %hr

  = f.hidden_field :resource_id
  = f.hidden_field :duration
  = f.fields_for :resource_allocations do |f_alloc|
    = f_alloc.hidden_field :start_date
    = f_alloc.hidden_field :duration
    
  .field
    = f.label :project_id
    = f.collection_select :project_id, Project.all, :id, :name, :include_blank => '--- Select Project ---'
  
  %hr
    
  .field
    = f.label :urgent
    = f.check_box :urgent

  .field
    = f.label :comment
    = f.text_area :comment
    
  .actions.submit
    = f.submit 'Add to Schedule'
