= form_for [@project, @resource_request] do |f|
  -if @resource_request.errors.any?
    #error_explanation.error
      %h2= "#{pluralize(@resource_request.errors.count, "error")} prohibited this resource_request from being saved:"
      %ul
        - @resource_request.errors.full_messages.each do |msg|
          %li= msg

  %hr
  
  .field
    = f.label :resource_id
    = f.collection_select :resource_id, Resource.all, :id, :name
    
  .field
    = f.label :task_id
    = f.collection_select :task_id, @project.tasks, :id, :name, :include_blank => true
  
  %hr
    
  .field
    = f.label :urgent
    = f.check_box :urgent
  .field
    = f.label :first_date
    = f.date_select :first_date, :include_blank => true
  .field
    = f.label :deadline
    = f.date_select :deadline, :include_blank => true
  .field
    = f.label :duration
    = f.text_field :duration
  .field
    = f.label :comment
    = f.text_area :comment
  .actions
    = f.submit 'Request'
