=render :partial => 'shared/project_nav', :locals => {:current => :resources}

.container

  %h1 Listing Requests

  %table
    %tr
      %th Resources
      %th First date
      %th Deadline
      %th Duration
      %th
      %th
      %th

    - @resource_requests.each do |resource_request|
      %tr{:class => (resource_request.urgent ? 'emphasize' : nil)}
        %td
          = '(Urgent)' if resource_request.urgent
          = resource_request.resource.name
        %td= resource_request.first_date
        %td= resource_request.deadline
        %td= resource_request.duration
        %td= link_to 'Show', [@project, resource_request]
        %td= link_to 'Edit', edit_project_resource_request_path(@project, resource_request)
        %td= link_to 'Destroy', [@project, resource_request], :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'New Resource request', new_project_resource_request_path(@project)
