%table.contract_costs
  %tr
    %th Date
    %th.currency Cost
    %th.control
    %th.control
    %th.control

  - contract_costs.each do |contract_cost|
    %tr{:id => "contract_cost_#{contract_cost.id}"}
      %td= contract_cost.date.to_s :long
      %td.currency= number_to_currency contract_cost.raw_cost
      %td.control
      %td.control.edit= link_to 'Edit', edit_contract_contract_cost_path(@contract, contract_cost), :remote => true
      %td.control.destroy= link_to 'Destroy', contract_contract_cost_path(@contract, contract_cost), :confirm => 'Are you sure?', :method => :delete

  - if contract_costs.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.control.add_button
    %td{:colspan => 10}= link_to '(Add Contract Invoice)', new_contract_contract_cost_path(@contract), :remote => true

  %tr.totals
    %td.right
      %strong Total
    %td.currency
      %strong= number_to_currency( contract_costs.inject(0) {|memo,obj| add_or_nil memo, obj.raw_cost })
    %td{:colspan => 4}
