%table.contract_costs.totals
  %tr
    %th Date
    %th.currency Cost
    %th.control
    %th.control

  - contract_costs.each do |contract_cost|
    %tr{:id => "contract_cost_#{contract_cost.id}"}
      %td= contract_cost.date.to_s :long
      %td.currency= number_to_currency contract_cost.raw_cost
      %td.control.edit= link_to 'Edit', edit_contract_contract_cost_path(@contract, contract_cost), :remote => true
      %td.control.destroy= link_to icon(:delete), contract_contract_cost_path(@contract, contract_cost), :confirm => 'Are you sure?', :method => :delete

  - if contract_costs.empty?
    %tr
      %td{:colspan => 10} (None)

  %tr.totals
    %td.right
      %strong Invoiced to Date
    %td.currency
      %strong= number_to_currency(@contract.raw_cost)
    %td.control.add_button{:colspan => 2}

