%table
  %tr
    %th Date
    %th.currency Cost
    %th.control
    %th.control
    %th.control

  - contract_costs.each do |contract_cost|
    %tr
      %td= contract_cost.date
      %td.currency= contract_cost.cost
      %td.control= link_to 'Show', contract_cost_path(@contract, contract_cost)
      %td.control= link_to 'Edit', edit_contract_cost_path(@contract, contract_cost)
      %td.control= link_to 'Destroy', contract_cost_path(@contract, contract_cost), :confirm => 'Are you sure?', :method => :delete

  - if contract_costs.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.totals
    %td.right
      %strong Total
    %td.currency
      %strong= number_to_currency( contract_costs.inject(0) {|memo,obj| add_or_nil memo, obj.cost })
    %td{:colspan => 4}