%tr.contract_cost_fields
  %td.field
    %strong= f.label :date
    = f.date_select :date
  %td.field
    %strong= f.label :raw_cost, 'Cost'
    = f.text_field :raw_cost
  %td.actions.control{:colspan => 2}
    = f.submit 'Save'
