= form_for [@project, @contract, @contract_cost] do |f|
  -if @contract_cost.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contract_cost.errors.count, "error")} prohibited this contract_cost from being saved:"
      %ul
        - @contract_cost.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :cost
    = f.text_field :cost
  .actions
    = f.submit 'Save'
