%h1 Listing contract_costs

%table
  %tr
    %th Date
    %th Cost
    %th
    %th
    %th

  - @contract_costs.each do |contract_cost|
    %tr
      %td= contract_cost.date
      %td= contract_cost.cost
      %td= link_to 'Show', project_contract_contract_cost_path(@project, @contract, contract_cost)
      %td= link_to 'Edit', edit_project_contract_contract_cost_path(@project, @contract, contract_cost)
      %td= link_to 'Destroy', project_contract_contract_cost_path(@project, @contract, contract_cost), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Contract cost', new_project_contract_contract_cost_path(@project, @contract)
