%p#notice= notice

%p
  %b Date:
  = @contract_cost.date
%p
  %b Cost:
  = @contract_cost.cost

= link_to 'Edit', edit_contract_cost_path(@contract, @contract_cost)
\|
= link_to 'Back', contract_costs_path(@contract)
