%table
  %tr
    %th Contractor
    %th Date
    %th.currency Cost
    %th.control
    %th.control
    %th.control

  - bids.each do |bid|
    %tr
      %td= bid.contractor
      %td= bid.date
      %td.currency= bid.cost
      %td.control= link_to 'Show', [@contract, bid]
      %td.control= link_to 'Edit', edit_contract_bid_path(@contract, bid)
      %td.control= link_to 'Destroy', [@contract, bid], :confirm => 'Are you sure?', :method => :delete
      
  - if bids.empty?
    %tr
      %td{:colspan => 10} (None)