%table.bids
  %tr
    %th Contractor
    %th Date
    %th.currency Cost
    %th.currency Cost w/ Markup
    %th.control
    %th.control
    %th.control

  - bids.each do |bid|
    %tr{:id => "bid_#{bid.id}", :class => (bid.is_active_bid? ? 'emphasize' : nil)}
      %td= bid.contractor
      %td= bid.date.to_s :long
      %td.currency= number_to_currency bid.raw_cost
      %td.currency= number_to_currency bid.cost
      %td.control
      %td.control.edit= link_to 'Edit', edit_contract_bid_path(@contract, bid), :remote => true
      %td.control.destroy= link_to 'Destroy', [@contract, bid], :confirm => 'Are you sure?', :method => :delete
      
  - if bids.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.control.add_button
    %td{:colspan => 10}= link_to '(Add Bid)', new_contract_bid_path(@contract), :remote => true |
  
