%tr.bid_fields
  %td.field
    %strong= f.label :contractor
    = f.text_field :contractor
  %td.field
    %strong= f.label :date
    = f.date_select :date
  %td.field
    %strong= f.label :raw_cost, 'Cost'
    = f.text_field :raw_cost
  %td
  %td.actions.control{:colspan => 3}
    = f.submit 'Save'
