%h1 Listing bids

%table
  %tr
    %th Date
    %th Amount
    %th
    %th
    %th

  - @bids.each do |bid|
    %tr
      %td= bid.date
      %td= bid.amount
      %td= link_to 'Show', bid
      %td= link_to 'Edit', edit_bid_path(bid)
      %td= link_to 'Destroy', bid, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bid', new_bid_path
