%h1 Listing bids

%table
  %tr
    %th Date
    %th Cost
    %th
    %th
    %th

  - @bids.each do |bid|
    %tr
      %td= bid.date
      %td= bid.cost
      %td= link_to 'Show', [@project, @contract, bid]
      %td= link_to 'Edit', edit_project_contract_bid_path(@project, @contract, bid)
      %td= link_to 'Destroy', [@project, @contract, bid], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bid', new_project_contract_bid_path(@project, @contract)
