%p#notice= notice

%p
  %b Date:
  = @bid.date
%p
  %b Cost:
  = @bid.cost

= link_to 'Edit', edit_project_contract_bid_path(@project, @contract, @bid)
\|
= link_to 'Back', project_contract_bids_path(@project, @contract)
