%tr.relative_deadline_fields
  %td
  %td.field{:colspan => 2}
    %strong= f.label :name
    = f.text_field :name
  %td.field
    %strong= f.label :interval
    = f.text_field :interval
  %td.actions.control{:colspan => 3}
    = f.submit 'Save'
      
