- deadline.relative_deadlines.each do |relative_deadline|
  %tr{:id => "relative_deadline_#{relative_deadline.id}"}
    %td
    %td
      &uarr;
      ( 
      =(relative_deadline.interval < 0 ? '' : '+')+relative_deadline.interval.to_s
      days
      )
      = relative_deadline.name
    %td= deadline.date.to_s :long
    %td.control
    %td.control.edit= link_to 'Edit', edit_deadline_relative_deadline_path(deadline, relative_deadline), :remote => true
    %td.control.destroy= link_to 'Destroy', [@project, deadline], :confirm => 'Are you sure?', :method => :delete    
  
