%h1 Listing relative_deadlines

%table
  %tr
    %th Name
    %th Interval
    %th
    %th
    %th

  - @relative_deadlines.each do |relative_deadline|
    %tr
      %td= relative_deadline.name
      %td= relative_deadline.interval
      %td= link_to 'Show', [@deadline, relative_deadline]
      %td= link_to 'Edit', edit_deadline_relative_deadline_path(@deadline, relative_deadline)
      %td= link_to 'Destroy', [@deadline, relative_deadline], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Relative deadline', new_deadline_relative_deadline_path(@deadline)
