%p#notice= notice

%p
  %b Name:
  = @relative_deadline.name
%p
  %b Interval:
  = @relative_deadline.interval

= link_to 'Edit', edit_project_deadline_relative_deadline_path(@project, @deadline, @relative_deadline)
\|
= link_to 'Back', project_deadline_relative_deadlines_path(@project, @deadline)
