%p#notice= notice

%p
  %b Name:
  = @relative_deadline.name
%p
  %b Interval:
  = @relative_deadline.interval

= link_to 'Edit', edit_deadline_relative_deadline_path(@deadline, @relative_deadline)
\|
= link_to 'Back', deadline_relative_deadlines_path(@deadline)
