%table
  %tr
    %th Name
    %th Task
    %th Cost
    %th
    %th
    %th

  - fixed_cost_estimates.each do |fixed_cost_estimate|
    %tr
      %td= fixed_cost_estimate.name
      %td= fixed_cost_estimate.task.blank? ? nil : fixed_cost_estimate.task.name
      %td.currency= number_to_currency(fixed_cost_estimate.cost)
      %td.control= link_to 'Show', [@component, fixed_cost_estimate]
      %td.control= link_to 'Edit', edit_component_fixed_cost_estimate_path(@component, fixed_cost_estimate)
      %td.control= link_to 'Destroy', [@component, fixed_cost_estimate], :confirm => 'Are you sure?', :method => :delete

  %tr.totals
    %td.right{:colspan => 2}
      %strong Subtotal
    %td.currency
      %strong= number_to_currency( fixed_cost_estimates.inject(0) {|memo,obj| memo + obj.cost })
    %td{:colspan => 4}
