%table.fixed_costs
  %tr
    %th Name
    %th.currency= "Cost (+#{number_to_percentage @component.total_markup, :precision => 0})"
    %th Task
    %th.control
    %th.control
    %th.control

  - fixed_cost_estimates.limit(limit).each do |fixed_cost_estimate|
    %tr{:id => "fixed_cost_estimate_#{fixed_cost_estimate.id}"}
      %td= fixed_cost_estimate.name
      %td.currency= number_to_currency(fixed_cost_estimate.marked_up_cost)
      %td= fixed_cost_estimate.task.blank? ? nil : fixed_cost_estimate.task.name
      - case parent.class.name
      - when 'Component'
        %td.control
        %td.control.edit= link_to 'Edit', edit_component_fixed_cost_estimate_path(parent, fixed_cost_estimate), :remote => true
        %td.control.destroy= link_to 'Destroy', [parent, fixed_cost_estimate], :confirm => 'Are you sure?', :method => :delete
      - when 'Task'
        %td.control{:colspan => 3}
          from 
          = link_to fixed_cost_estimate.component.name, [@project, fixed_cost_estimate.component]
        
  - if fixed_cost_estimates.count > limit
    %tr
      %td{:colspan => 10}= "(#{fixed_cost_estimates.count - limit} more not shown)"

  - if fixed_cost_estimates.empty?
    %tr
      %td{:colspan => 10} (None)
      
  -if context == :component 
    %tr.control.add_button
      %td{:colspan => 10}= link_to '(Add Fixed Cost)', new_component_fixed_cost_estimate_path(@component), :remote => true
      
  %tr.totals
    %td.right{:colspan => parent.class.name == 'Component' ? 2 : 1}
      %strong Subtotal
    %td.currency
      %strong= number_to_currency( fixed_cost_estimates.inject(0) {|memo,obj| add_or_nil memo, obj.marked_up_cost })
    %td{:colspan => 4}

