= form_for [@component, @fixed_cost_estimate] do |f|
  -if @fixed_cost_estimate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fixed_cost_estimate.errors.count, "error")} prohibited this fixed_cost_estimate from being saved:"
      %ul
        - @fixed_cost_estimate.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    %strong= f.label :component
    = f.collection_select :component_id, |
      @component.ancestors.all + [@component] + @component.subtree, |
      :id, |
      :name |
  .field
    = f.label :raw_cost, 'Cost'
    = f.text_field :raw_cost
  .actions
    = f.submit 'Save'
