-fixed_cost_estimate ||= @fixed_cost_estimate

.container.cost_creation.fixed_cost_estimate
  = form_for [@component, fixed_cost_estimate] do |f|
    .full_width
    
      -if fixed_cost_estimate.errors.any?
        #error_explanation
          %h2= "#{pluralize(@fixed_cost_estimate.errors.count, "error")} prohibited this unit_cost_estimate from being saved:"
          %ul
            - fixed_cost_estimate.errors.full_messages.each do |msg|
              %li= msg
      %h1
        .field
          = f.label :name
          = f.text_field :name, :tabindex => 1
          

    .full_width        
      %h2 Cost
      
      .large_input
        = f.label :raw_cost
        = f.text_field :raw_cost, :tabindex => 2
        
    .full_width
    
      %h2 Parent Component
      
      .field
        =f.select :component_id, @project.component_tree.map{|c| ['--' * c.depth + c.name, c.id] }
        
    -unless fixed_cost_estimate.new_record?
      .full_width
        %h2 Task
        
        (not implemented)
      
    %hr
    
    .full_width
      .actions
        = f.submit 'Save', :tabindex => 3
