-context ||= params.has_key?(:context) ? params[:context].to_sym : :component

%tr.fixed_cost_estimate_fields
  -unless context == :project
    %td.field
      %strong= f.label :name
      = f.text_field :name
    %td.field
      %strong= f.label :raw_cost, 'Cost'
      = f.text_field :raw_cost
  -else
    %td.field
      %strong= f.label :name
      = @fixed_cost_estimate.name
  %td.field
    %strong= f.label :task_id
    = f.autocomplete_field :task_name, autocomplete_task_name_project_path(@project)
    -#unless @project.tasks.empty?
      =# f.collection_select :task_id, @project.tasks, :id, :name, { :include_blank => "---" }
      =#or
    =#link_to "(Add New Task)", new_project_task_path(@project)
  %td.actions.control{:colspan => 3}
    = f.submit 'Save'
