%tr.fixed_cost_estimate_fields
  %td.field
    %strong= f.label :name
    = f.text_field :name
  %td.field
    %strong= f.label :cost
    = f.text_field :cost
  %td.field
    %strong= f.label :task_id
    -unless @project.tasks.empty?
      = f.collection_select :task_id, @project.tasks, :id, :name, { :include_blank => "---" }
      or
    =link_to "(Add New Task)", new_project_task_path(@project)
  %td.actions.control{:colspan => 3}
    = f.submit 'Save'
