%h1 Listing payment_lines

%table
  %tr
    %th Labor paid
    %th Labor retained
    %th Material paid
    %th Material retained
    %th Comment
    %th
    %th
    %th

  - @payment_lines.each do |payment_line|
    %tr
      %td= payment_line.labor_paid
      %td= payment_line.labor_retained
      %td= payment_line.material_paid
      %td= payment_line.material_retained
      %td= payment_line.comment
      %td= link_to 'Show', payment_line_item_path(@payment, payment_line)
      %td= link_to 'Edit', edit_payment_line_item_path(@payment, payment_line)
      %td= link_to 'Destroy', payment_line_item_path(@payment, payment_line), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Payment line', new_payment_line_item_path(@payment)
