%table.deadlines
  %tr
    %th Name
    %th
    %th Date
    %th Tasks
    %th.control
    %th.control
    %th.control

  - deadlines.each do |deadline|
    %tr{:id => "deadline_#{deadline.id}"}
      %td{:colspan => 2}
        = deadline.name
        = link_to "(Add Relative Deadline)", new_deadline_relative_deadline_path(deadline), :remote => true, :class => 'add_relative', :id => "add_relative_to_#{deadline.id}"
      %td= deadline.date.to_s :long
      %td=raw( deadline.tasks.map {|t| link_to t.name, [@project, t]}.join(',') )
      %td.control
      %td.control.edit= link_to 'Edit', edit_project_deadline_path(@project, deadline), :remote => true
      %td.control.destroy= link_to 'Destroy', [@project, deadline], :confirm => 'Are you sure?', :method => :delete
      
    =render :partial => "relative_deadlines/relative_deadline_list", :locals => {:deadline => deadline, :relative_deadlines => deadline.relative_deadlines}

  - if deadlines.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.control.add_button
    %td{:colspan => 10}= link_to '(Add Deadline)', new_project_deadline_path(@project), :remote => true
      
