-remote ||= false
-content_for :head do
  =javascript_tag "$(document).ready( function() { #{render :partial => 'radio_button.js'} } );"
  
= form_for [@project, @deadline], :remote => remote do |f|
  -if @deadline.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deadline.errors.count, "error")} prohibited this deadline from being saved:"
      %ul
        - @deadline.errors.full_messages.each do |msg|
          %li= msg
          
  .field
    = f.label :name
    = f.text_field :name

  %p
    .field
      = radio_button_tag :deadline_type, :absolute, @deadline.is_absolute?
      %strong= label_tag :deadline_type_absolute, "Absolute Deadline"
      
    .field.absolute_deadline_input
      = f.label :date
      = f.date_select :date, {:disabled => @deadline.is_relative?}
    
  %p
    .field
      = radio_button_tag :deadline_type, :relative, @deadline.is_relative?
      %strong= label_tag :deadline_type_relative, "Relative Deadline"
      
    .field.relative_deadline_input
      = f.label :parent_deadline
      = f.collection_select :parent_deadline_id, (@project.deadlines - [@deadline]), :id, :select_label, {:include_blank => '-- Select Existing Deadline --'}, {:disabled => @deadline.is_absolute?}
    .field.relative_deadline_input
      = f.label :interval
      = f.text_field :interval, {:disabled => @deadline.is_absolute?}
    
  -unless @context == :task || @context == :tasks
    %p
      .field
        = f.label :tasks
      .field
        %ul
          -@project.tasks.each do |task|
            %li
              = check_box_tag "deadline[task_ids][]", task.id, @deadline.tasks.include?(task)
              = task.name
  -else
    = f.hidden_field :task_ids
      
  .actions
    -if @context == :task || @context == :tasks
      =hidden_field_tag :task_id, @task.id
    .submit= f.submit 'Save'
