%h1 Listing deadlines

%table
  %tr
    %th Name
    %th Date
    %th
    %th
    %th

  - @deadlines.each do |deadline|
    %tr
      %td= deadline.name
      %td= deadline.date
      %td= link_to 'Show', project_deadline_path(@project, deadline)
      %td= link_to 'Edit', edit_project_deadline_path(@project, deadline)
      %td= link_to 'Destroy', project_deadline_path(@project, deadline), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Deadline', new_project_deadline_path(@project)
