<% content_for :content do %>
  <div class="fixed_wrapper">
    <div class="popup">
      <h1 class="new_deadline">New Deadline</h1>
      <%= render :partial => 'form', :locals => {:remote => true} %>
    </div>
  </div>
<% end %>

<% content_for :cancel_link do %>
  <% if @context == :tasks %>
    <%= link_to('Cancel', project_tasks_path(@project) ) %>
  <% elsif @context == :task %>
    <%= link_to('Cancel', project_task_path(@project, @task) ) %>
  <% elsif @context == :dashboard %>
    <%= link_to('Cancel', @project ) %>
  <% else %>
    <%= link_to( 'Cancel', project_deadlines_path(@project) ) %>
  <% end %>
<% end %>

$.dimScreen(500, .25, function() {
  $("body").prepend("<%= escape_javascript( yield :content ) %>");
  $("form .submit").append("or <%= escape_javascript yield :cancel_link %>");
  <%= render :partial => 'radio_button.js' %>
});
