%tr
  / Name
  %td{:rowspan => 2}= "#{line.markup.name} (#{number_to_percentage line.markup.percent / 100.0, :precision => 0})"
  
  / Invoiced
  %td.currency= number_to_currency line.markup.labor_invoiced_before(@payment.date - 1)
  
  / Invoiced - Retainage
  %td.currency= number_to_currency line.markup.labor_retainage_before(@payment.date - 1)
  
  / Previous Payments - Paid
  %td.currency= number_to_currency line.markup.labor_paid_before(@payment.date - 1)
  
  / Previous Payments - Retained
  %td.currency= number_to_currency line.markup.labor_retained_before(@payment.date - 1)
  
  / Current Payment - Paid
  %td.currency= f.text_field :labor_paid
  
  / Current Payment - Retained
  %td.currency= f.text_field :material_retained
  
  %td
    %strong Labor
%tr
  / Invoiced
  %td.currency= number_to_currency line.markup.material_invoiced_before(@payment.date - 1)
  
  / Invoiced - Retainage
  %td.currency= number_to_currency line.markup.material_retainage_before(@payment.date - 1)
  
  / Previous Payments - Paid
  %td.currency= number_to_currency line.markup.material_paid_before(@payment.date - 1)
  
  / Previous Payments - Retained
  %td.currency= number_to_currency line.markup.material_retained_before(@payment.date - 1)
  
  / Current Payment - Paid
  %td.currency= f.text_field :material_paid
  
  / Current Payment - Retained
  %td.currency= f.text_field :material_retained
  %td
    %strong Material
