= form_for @payment_markup_line do |f|
  -if @payment_markup_line.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment_markup_line.errors.count, "error")} prohibited this payment_markup_line from being saved:"
      %ul
        - @payment_markup_line.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :float
    = f.text_field :float
  .field
    = f.label :float
    = f.text_field :float
  .field
    = f.label :float
    = f.text_field :float
  .field
    = f.label :float
    = f.text_field :float
  .field
    = f.label :float
    = f.text_field :float
  .field
    = f.label :float
    = f.text_field :float
  .field
    = f.label :string
    = f.text_field :string
  .actions
    = f.submit 'Save'
