%h1 Listing laborers

%table
  %tr
    %th Name
    %th.currency Bill rate
    %th.control
    %th.control
    %th.conrol

  - @laborers.each do |laborer|
    %tr
      %td= laborer.name
      %td.currency= laborer.bill_rate
      %td.control= link_to 'Show', [@project, laborer]
      %td.control= link_to 'Edit', edit_project_laborer_path(@project, laborer)
      %td.control= link_to 'Destroy', [@project, laborer], :confirm => 'Are you sure?', :method => :delete
      
  - if @laborers.empty?
    %tr
      %td{:colspan => 10} (None)

%br

= link_to 'New Laborer', new_project_laborer_path(@project)
