%h1 Listing laborers

%table
  %tr
    %th Name
    %th Bill rate
    %th
    %th
    %th

  - @laborers.each do |laborer|
    %tr
      %td= laborer.name
      %td= laborer.bill_rate
      %td= link_to 'Show', [@project, laborer]
      %td= link_to 'Edit', edit_project_laborer_path(@project, laborer)
      %td= link_to 'Destroy', [@project, laborer], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Laborer', new_project_laborer_path(@project)
