%p#notice= notice

%p
  %b Name:
  = @laborer.name
%p
  %b Bill rate:
  = @laborer.bill_rate

= link_to 'Edit', edit_project_laborer_path(@project, @laborer)
\|
= link_to 'Back', project_laborers_path(@project)
