-current ||= nil
.main_nav
  -unless @project.nil?
    %ul.left
      %li{:class => current == :dashboard ? :current : nil}=link_to 'Dashboard', project_path(@project)
      %li.qtip_component{:class => current == :components ? :current : nil}= link_to 'Components', project_components_path(@project)
      %li.qtip_task{:class => current == :tasks ? :current : nil}= link_to 'Tasks', project_tasks_path(@project)
      %li.qtip_contract{:class => current == :contracts ? :current : nil}= link_to 'Contracts', project_contracts_path(@project)
      %li.qtip_deadline{:class => current == :deadlines ? :current : nil}= link_to 'Deadlines', project_deadlines_path(@project)
      %li.qtip_invoice{:class => current == :invoicing ? :current : nil}= link_to 'Invoicing', invoicing_project_path(@project)

  %ul.right
    %li{:class => current == :projects ? :current : nil}=link_to 'Home', projects_path
    %li{:class => current == :reports ? :current : nil}=link_to 'Reports', reports_path
    %li=link_to 'Log Out', destroy_user_session_path
    
.main_nav_spacer




