%tr.labor_cost_line_fields
  %td.field
    %strong= f.label :employee
    = f.collection_select :laborer_id, @laborers, :id, :name
    or
    =link_to "Add new Employee", new_laborer_path( :redirect_to => task_labor_cost_path(@task, @labor_cost) )
  %td.field{:colspan => 3}
    %strong= f.label :hours
    = f.text_field :hours
  %td.actions.control{:colspan => 3}
    = f.submit 'Save'

