%table.labor_cost_lines
  %tr
    %th Employee
    %th.number Hours
    %th.currency Bill Rate
    %th.currency Cost
    %th.control
    %th.control
    %th.control

  - labor_cost_lines.each do |labor_cost_line|
    %tr{:id => "labor_cost_line_#{labor_cost_line.id}"}
      %td= link_to labor_cost_line.laborer.name, [@project, labor_cost_line.laborer]
      %td.number= labor_cost_line.hours
      %td.currency
        = number_to_currency(labor_cost_line.laborer.bill_rate)
        \/hr
      %td.currency= number_to_currency(labor_cost_line.raw_cost)
      %td.control
      %td.control.edit= link_to 'Edit', edit_labor_cost_line_item_path(@labor_cost, labor_cost_line), :remote => true
      %td.control.destroy= link_to icon(:delete), labor_cost_line_item_path(@labor_cost, labor_cost_line), :confirm => 'Are you sure?', :method => :delete

  - if labor_cost_lines.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.control.add_button
    %td{:colspan => 10}
      = link_to new_labor_cost_line_item_path(@labor_cost), :remote => true do
        = icon(:add)
        Add Employee Hours
      
  %tr.totals
    %td.right{:colspan => 3}
      %strong Total
    %td.currency
      %strong= number_to_currency( labor_cost_lines.inject(0) {|memo,obj| add_or_nil memo, obj.raw_cost })
    %td{:colspan => 4}
