<% unless params[:from_overview] %>
  <% if @labor_cost_line.errors.any? %>
    //Error
  
    <% content_for :error_tr do %>
      <tr class='error'><td colspan = 10><strong><%= error_messages_for(@labor_cost_line) %></strong></td></tr>
    <% end %>

    //Hide the flash notice div
    $("#flash_notice").hide(300);

    //Add a table row above the input with error info
    $("table.labor_cost_lines tr.error").remove();
    $("table.labor_cost_lines tr.labor_cost_line_fields").before("<%= escape_javascript( yield :error_tr ) %>");

  <% else %>
    //Success
  
    <% content_for :table do %>
    	<%=render :partial => 'labor_cost_lines_list', :locals => {:labor_cost_lines => @labor_cost_lines} %>
    <% end %>

    //Update the html of the div flash_notice with the new one
    $("#flash_notice").html("<%= escape_javascript(flash[:notice])%>");

    //Show the flash_notice div
    $("#flash_notice").show(300);

    //Replace the html of the div post_lists with the updated new one
    $('form').html( "<%= escape_javascript( yield :table ) %>");

    //Remove the form
    $('table.labor_cost_lines').unwrap();
  
    //Load a new entry field
    $('tr.add_button > td > a').click();
  
  <% end %>
<% else %>
  <% content_for :overview_list do %>
    <% case params[:by] %>
    <% when nil, 'project' %>
      <%= render :partial => 'overview_by_project', :locals => {:labor_cost => @labor_cost_line.labor_set, :line_items => @labor_cost_line.labor_set.line_items} %>
    <% when 'employee' %>
      <%= render :partial => 'overview_by_employee', :locals => {:employee => @labor_cost_line.laborer, :date => @labor_cost_line.labor_set.date} %>
    <% when 'date' %>
      <%= render :partial => 'overview_by_employee', :locals => {:employee => @labor_cost_line.laborer, :date => @labor_cost_line.labor_set.date} %>
    <% end %>
  <% end %>
  
  $("#overview_list_<%= @labor_cost_line.labor_set_id %>").replaceWith('<%= escape_javascript( yield :overview_list ) %>');
<% end %>