-remote ||= false

= form_for [@task, @labor_cost], :remote => remote do |f|
  -if @labor_cost.errors.any?
    #error_explanation
      %h2= "#{pluralize(@labor_cost.errors.count, "error")} prohibited this labor_cost from being saved:"
      %ul
        - @labor_cost.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :percent_complete
    = f.text_field :percent_complete
  .field
    = f.label :note
    %br
    = f.text_area :note

  .actions
    .submit= f.submit 'Save'
