- context ||= nil
%table
  %tr
    %th Date
    %th.currency Cost
    %th.currency Cost w/ Markup
    %th.number % Complete
    %th.control
    %th.control

  - labor_costs.each do |labor_cost|
    %tr
      %td= link_to labor_cost.date.to_s( :long ), [@task, labor_cost]
      %td.currency= number_to_currency(labor_cost.raw_cost)
      %td.currency= number_to_currency(labor_cost.cost)
      %td.number= number_to_percentage(labor_cost.percent_complete, :precision => 0)
      %td.control= link_to 'Edit', edit_task_labor_cost_path(@task, labor_cost)
      %td.control= link_to icon(:delete), [@task, labor_cost], :confirm => 'Are you sure?', :method => :delete

  - if labor_costs.empty?
    %tr
      %td{:colspan => 10} (None)
    
  %tr.totals
    %td.right
      %strong Subtotal
    %td.currency
      %strong= number_to_currency( labor_costs.sum(:raw_cost) )
    %td.currency
      %strong= number_to_currency( labor_costs.sum(:cost) )
    %td{:colspan => 3}
    
