-unless component.estimated_cost.nil?
  %tr
    %td.control
      -unless component.children.empty?
        =form_for( [@project, component], :html => { :id => "expand_#{component.id}" } ) do |f|
          =f.check_box :expand_in_estimate, :onchange => "$('form#expand_#{component.id}').submit();"
          =hidden_field_tag :redirect, estimate_report_for_project_path(@project)
        
    %td{:class => (indent == 0 ? nil : "indent_#{indent}" )}  
      %strong= component.name if indent == 0
      = component.name unless indent == 0
      
    -if session[:break_out_costs]
      %td.currency
      %td.boolean.control
      
    %td.currency
      %strong= number_to_currency component.cost if indent == 0
      = number_to_currency component.cost unless indent == 0
      
    %td.currency
      %strong= number_to_currency component.estimated_raw_cost if indent == 0
      = number_to_currency component.estimated_raw_cost unless indent == 0
        
    -if session[:break_out_costs]
      -component.labor_costs.reorder(:date).each do |labor_cost|
        %tr
          %td.control
          %td{:class => "indent_#{indent+1}"}
            %i= "#{labor_cost.date.to_s(:long)}: #{labor_cost.task.name} Labor"
          %td
            %i= number_to_currency labor_cost.raw_cost
          %td.control
            =form_for labor_cost, :remote => true do |f|
              =hidden_field_tag :render_nothing, true
              =f.check_box :reconciled, {:onchange => "$(this.form).submit();"}
          %td
          %td
        
      -component.material_costs.reorder(:date).each do |material_cost|
        %tr
          %td.control
          %td{:class => "indent_#{indent+1}"}
            %i= "#{material_cost.date.to_s(:long)}: #{material_cost.task.name} Material from #{material_cost.supplier.name}"
          %td
            %i= number_to_currency material_cost.raw_cost
          %td.control
            =form_for material_cost, :remote => true do |f|
              =hidden_field_tag :render_nothing, true
              =f.check_box :reconciled, {:onchange => "$(this.form).submit();"}
          %td
          %td
        
      -component.contracts.each do |contract|
        -contract.costs.reorder(:date).each do |contract_cost|
          %tr
            %td.control
            %td{:class => "indent_#{indent+1}"}
              %i= "#{contract_cost.date.to_s(:long)}: #{contract.name} Invoice from #{contract.active_bid.contractor}"
            %td
              %i= number_to_currency contract_cost.raw_cost
            %td.control
              =form_for [contract, contract_cost], :remote => true do |f|
                =hidden_field_tag :render_nothing, true
                =f.check_box :reconciled, {:onchange => "$(this.form).submit();"}
            %td       
            %td 
          
        
  -if component.expand_in_estimate
    -component.children.each do |subcomponent|
      =render :partial => 'cost_report', :locals => {:component => subcomponent, :indent => indent + 1}
