-unless contract.estimated_cost.nil?
  %tr
    %td.control
    %td.control
    %td{:class => "indent_#{indent}"}
      -if indent == 0
        %strong= contract.name
      -else
        =contract.name
    -if session[:break_out_unit_costs]
      %td{:colspan => 2}= "Fixed Bid from #{contract.active_bid.contractor}" unless contract.active_bid.nil?
    -else
      %td
      
    -if session[:break_out_markup]
      %td.currency
        -if indent == 0
          %strong= number_to_currency contract.estimated_raw_cost
        -else
          =number_to_currency contract.estimated_raw_cost
    -else
      %td.currency
        -if indent == 0
          %strong= number_to_currency contract.estimated_cost
        -else
          =number_to_currency contract.estimated_cost
      
  -if session[:break_out_unit_costs]    
    -contract.bids.each do |alternate|
      -unless alternate.is_active_bid
        %tr
          %td.control
          %td.control
          %td
          %td{:class => "indent_#{indent+1}", :colspan => 2}
            %i= "Alternate Bid from #{alternate.contractor} (#{alternate.date.strftime('%b %d \'%y')})"
          -if session[:break_out_markup]
            %td.currency
              %i= number_to_currency alternate.raw_cost
          -else
            %td.currency
              %i= number_to_currency alternate.cost
