= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  %h1
    .field
      = f.label :name
      = f.text_field :name
    
  .field
    =f.radio_button :fixed_bid, true
    =f.label :fixed_bid, "Fixed-Bid Project"

    =f.radio_button :fixed_bid, false
    =f.label :fixed_bid, "Cost-Plus Project"


  .actions
    = f.submit 'Save'

