<% if @project.errors.any? %>

  <% content_for :error_tr do %>
    <tr class='error'><td colspan = 10><strong><%= error_messages_for(@project) %></strong></td></tr>
  <% end %>

  //Hide the flash notice div
  $("#flash_notice").hide(300);

  //Add a table row above the input with error info
  $("table.projects tr.error").remove();
  $("table.projects tr.project_fields").before("<%= escape_javascript( yield :error_tr ) %>");

<% else %>

  <% content_for :table do %>
  	<%=render :partial => 'project_list', :locals => {:projects => @projects} %>
  <% end %>

  //Update the html of the div flash_notice with the new one
  $("#flash_notice").html("<%= escape_javascript(flash[:notice])%>");

  //Show the flash_notice div
  $("#flash_notice").show(300);

  //Replace the html of the div post_lists with the updated new one
  $('form.new_project').html( "<%= escape_javascript( yield :table ) %>");

  //Remove the form
  $('table.projects').unwrap();
  
  //Load a new entry field
  $('table.projects tr.add_button > td > a').click();
  
<% end %>
