%h1
  = @project.name
  Cost Estimate
%h2= Date::today.to_s :long

%table.project_estimate
  %tr
    %th.control Expand
    %th.control Show Costs
    %th Building Component
    %th.currency Cost
    
  -@project.components.roots.each do |component|
    =render :partial => 'estimate_report_component', :locals => {:component => component, :root => true}
      
  -@project.contracts.each do |contract|
    -unless contract.estimated_cost.nil?
      %tr
        %td.control
        %td.control
        %td= contract.name
        %td.currency
          %strong= number_to_currency contract.estimated_cost
          
  %tr.totals
    %td.control
    %td.control
    %td.right
      %strong Total
    %td.currency
      %strong= number_to_currency @project.estimated_cost
