.control
  =render :partial => 'shared/project_nav'
  
%h1
  = @project.name
  Cost Estimate
%h2= Date::today.to_s :long

%table.project_estimate
  %tr
    %th.control Expand
    %th.control Show Costs
    %th Building Component
    %th.currency Cost
    
  -@project.components.roots.each do |component|
    =render :partial => 'estimate_report_component', :locals => {:component => component, :root => true}
      
  -@project.contracts.each do |contract|
    -unless contract.estimated_cost.nil?
      %tr
        %td.control
        %td.control
        %td
          %strong= contract.name
          %i= "(Fixed Bid from #{contract.active_bid.contractor})"
        %td.currency
          %strong= number_to_currency contract.estimated_cost
      -contract.bids.each do |alternate|
        -unless alternate.is_active_bid
          %tr
            %td.control
            %td.control
            %td.indented
              %i= "Alternate Bid from #{alternate.contractor}"
            %td.currency
              %i= number_to_currency alternate.estimated_cost
          
  %tr.totals
    %td.control
    %td.control
    %td.right
      %strong Total
    %td.currency
      %strong= number_to_currency @project.estimated_cost
