.control
  =render :partial => 'shared/project_nav'
  
%h1
  = @project.name
  Cost Estimate
%h2= Date::today.to_s :long

%p.control
  -if session[:break_out_unit_costs]
    %button=link_to "Show Without Unit Cost Breakout", estimate_report_for_project_path(@project, :break_out_unit_costs => 0)
  -else
    %button=link_to "Show Unit Cost Breakout", estimate_report_for_project_path(@project, :break_out_unit_costs => 1)

  -if session[:break_out_markup]
    %button=link_to "Hide Markup", estimate_report_for_project_path(@project, :break_out_markup => 0)
  -else
    %button=link_to "Show Markup", estimate_report_for_project_path(@project, :break_out_markup => 1)

-@active_markups = Markup.all.map {|m| m.apply_recursively_to(@project, :estimated_cost_markup_amount) > 0 ? m : nil}.compact

%table.project_estimate
  %tr
    %th.control Expand
    %th.control Show Costs
    %th Building Component
    -if session[:break_out_unit_costs]
      %th Quantity / Source
      %th.currency Unit Cost
    -if session[:break_out_markup]
      %th.currency Raw Cost
      -@active_markups.each do |markup|
        %th.currency
          =markup.name
          =number_to_percentage markup.percent, :precision => 0
    %th.currency= session[:break_out_markup] ? 'Cost+Markup' : 'Cost'
    
  -@project.components.roots.each do |component|
    =render :partial => 'estimate_report_component', :locals => {:component => component, :indent => 0}
      
  -@project.contracts.where(:component_id => nil).each do |contract|
    =render :partial => 'estimate_report_contract', :locals => {:contract => contract, :indent => 0}

  %tr.totals
    %td.control
    %td.control
    %td.right
      %strong Totals
    -if session[:break_out_unit_costs]
      %td
      %td
    -if session[:break_out_markup]
      %td.currency= number_to_currency @project.estimated_raw_cost
      -@active_markups.each do |markup|
        %td.currency= number_to_currency markup.apply_recursively_to(@project, :estimated_cost_markup_amount)
    %td.currency
      %strong= number_to_currency @project.estimated_cost
