.control
  =render :partial => 'shared/project_nav'
  
%h1
  = @project.name
  Cost Estimate
%h2= Date::today.to_s :long

%p.control
  -if session[:break_out_unit_costs]
    %button=link_to "Show Without Unit Cost Breakout", estimate_report_for_project_path(@project, :break_out_unit_costs => 0)
  -else
    %button=link_to "Show Unit Cost Breakout", estimate_report_for_project_path(@project, :break_out_unit_costs => 1)

  -if session[:break_out_markup]
    %button=link_to "Hide Markup", estimate_report_for_project_path(@project, :break_out_markup => 0)
  -else
    %button=link_to "Show Markup", estimate_report_for_project_path(@project, :break_out_markup => 1)


%table.project_estimate
  %tr
    %th.control Expand
    %th.control Show Costs
    %th Building Component
    -if session[:break_out_unit_costs]
      %th Quantity / Source
      %th.currency Unit Cost
    -if session[:break_out_markup]
      %th Raw Cost
    %th.currency= session[:break_out_markup] ? 'Cost+Markup' : 'Cost'
    
  -@project.components.roots.each do |component|
    =render :partial => 'estimate_report_component', :locals => {:component => component, :indent => 0}
      
  -@project.contracts.each do |contract|
    -unless contract.estimated_cost.nil?
      %tr
        %td.control
        %td.control
        %td
          %strong= contract.name
        -if session[:break_out_unit_costs]
          %td= "Fixed Bid from #{contract.active_bid.contractor}"
          %td.currency
        -if session[:break_out_markup]
          %td.currency= number_to_currency contract.raw_cost
        %td.currency
          %strong= number_to_currency contract.cost
          
      -contract.bids.each do |alternate|
        -unless alternate.is_active_bid
          %tr
            %td.control
            %td.control
            %td
            -if session[:break_out_unit_costs]
              %td.indent_1
                %i= "Alternate Bid from #{alternate.contractor}"
              %td.currency
            -if session[:break_out_markup]
              %td.currency
                %i= number_to_currency alternate.raw_cost
            %td.currency
              %i= number_to_currency alternate.cost
          
  %tr.totals
    %td.control
    %td.control
    %td.right{:colspan => session[:break_out_unit_costs] ? 3 : 1}
      %strong Total
    -if session[:break_out_markup]
      %td.currency= number_to_currency @project.estimated_raw_cost
    %td.currency
      %strong= number_to_currency @project.estimated_cost
