%h1 Listing projects

%table
  %tr
    %th Name
    %th Cost Estimate
    %th Cost-to-Date
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.name
      %td.currency= number_to_currency(project.estimated_cost)
      %td.currency= number_to_currency(project.cost)
      %td.control= link_to 'Show', project_components_path(project)
      %td.control= link_to 'Edit', edit_project_path(project)
      %td.control= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project', new_project_path
