-content_for :head do
  =javascript_include_tag "autocomplete-rails.js"
  =javascript_include_tag "jquery.dimscreen.js"
  =stylesheet_link_tag 'jquery.theme.css', :media => 'screen, projection'
  =javascript_include_tag 'protovis-d3.2.js'
  
=render :partial => 'shared/project_nav'

%h1
  Project:
  = @project.name

%hr

.container
  .header
    %h2
      Planning Dashboard
      -if @project.show_planning
        .control.inline
          =form_for @project do |f|
            =f.hidden_field :show_planning, :value => false
            =f.submit 'Hide'
      -else
        .control.inline
          =form_for @project do |f|
            =f.hidden_field :show_planning, :value => true
            =f.submit 'Show'
                        
  
  -if @project.show_planning
    .left
      %h3 Estimated Cost Graph
      .boxed
        %script{:type => 'text/javascript+protovis'}
          -data = (0..30).to_a.reverse.map{|d| p = @project.version_at(d.days.ago); {:value => p.estimated_cost, :label => "#{d.days.ago.to_date.strftime('%b %d')}: #{number_to_currency p.estimated_cost, :precision => 0}"} }
          =render :partial => 'shared/protovis_area_graph.js', :locals => {:height => 120, :width => 490, :data => data, :min => 0}
        =# image_tag estimated_cost_graph_for_project_path(@project), :size => '490x120'
      
      .right
        =link_to estimate_report_for_project_path(@project) do
          %button Project Cost Estimate
          
    .right
      %h3 Tasks without a Deadline
        
      .boxed= render :partial => 'tasks/without_deadline'
    .left
      %h3 Unassigned Unit Costs
      .boxed=render :partial => 'unit_cost_estimates/unassigned', :locals => {:unit_cost_estimates => @project.unit_cost_estimates.unassigned,}
    .right
      %h3 Unassigned Fixed Costs
      .boxed=render :partial => 'fixed_cost_estimates/unassigned', :locals => {:fixed_cost_estimates => @project.fixed_cost_estimates.unassigned}

  %hr

  .header
    %h2 
      Construction Dashboard
      -if @project.show_construction
        .control.inline
          =form_for @project do |f|
            =f.hidden_field :show_construction, :value => false
            =f.submit 'Hide'
      -else
        .control.inline
          =form_for @project do |f|
            =f.hidden_field :show_construction, :value => true
            =f.submit 'Show'
            
  -if @project.show_construction    
    .full_width
      %h3 Active Task Summary
      =render :partial => 'tasks/active_summary'
      
      -thursday = weekday(4,Date::today)
      =link_to labor_summary_for_project_path(@project, 'date[year]' => thursday.year, 'date[month]' => thursday.month, 'date[day]' => thursday.day) do
        %button This Week's Labor Summary     
      =link_to payroll_summary_for_project_path(@project, 'date[year]' => thursday.year, 'date[month]' => thursday.month, 'date[day]' => thursday.day) do
        %button This Week's Payroll Summary
              
    .full_width
      %h3 Labor Allocation Timeline
      %script{:type => 'text/javascript+protovis'}
        =render :partial => 'shared/protovis_timeline.js', :locals => {:height => 150, :width => 990, :tasks => @project.tasks.active}

      .right
        =link_to timeline_for_project_path(@project) do
          %button View Larger
            
    .full_width
      %h3 Projected vs Estimated Cost
      = image_tag construction_cost_graph_for_project_path(@project), :size => '990x180'
      
    .right
      %h3
        Currently Invoicing Contracts
      .boxed=render :partial => 'contracts/currently_invoicing'

    .right
      %h3 Current Purchase Orders
      .boxed=render :partial => 'material_costs/purchase_orders'
      
      .right
        =link_to purchase_order_list_for_project_path(@project) do
          %button Project Purchase Orders
        =link_to purchase_order_list_projects_path do
          %button All Purchase Orders


/
  %h2 Overview

  %p
    Estimated Cost:
    %strong=number_to_currency @project.estimated_cost
    %br
    Cost to Date:
    %strong=number_to_currency @project.cost
    %br
    Projected Cost:
    %strong=number_to_currency @project.projected_cost
    
  -unless @project.tasks.empty?
    %h3 Tasks
    =# render :partial => 'tasks/project_dashboard', :locals => {:tasks => @project.tasks}

  -unless @project.contracts.empty?
    %h3 Fixed-Bid Contracts
    =render :partial => 'contracts/project_dashboard'
    
  -unless @project.unit_cost_estimates.unassigned.count == 0 && @project.fixed_cost_estimates.unassigned == 0
    %h2 Costs Without a Task
    
    -unless @project.unit_cost_estimates.unassigned.count == 0
      %h3 Unit Costs
        
      =render :partial => 'unit_cost_estimates/unit_cost_estimate_list', :locals => {:unit_cost_estimates => @project.unit_cost_estimates.unassigned, :context => :project}
      
    -unless @project.fixed_cost_estimates.unassigned.count == 0
      %h3 Fixed Costs
        
      =render :partial => 'fixed_cost_estimates/fixed_cost_estimate_list', :locals => {:fixed_cost_estimates => @project.fixed_cost_estimates.unassigned, :context => :project}

  -unless @project.labor_cost.nil?
    %h3 Timeline
    =#render :partial => 'timeline'
