%tr
  / Name
  %td{:rowspan => 2}
    = '>' * line.component.depth
    = line.component.name
  
  / Cost - estimated
  %td.currency{:rowspan => 2}= number_to_currency line.component.estimated_cost
  
  / Cost - as of invoice date
  %td.currency= number_to_currency line.component.labor_cost_before(@invoice.date) + line.component.contract_cost_before(@invoice.date)
  
  / Previous Invoices - Invoiced
  %td.currency= number_to_currency line.component.labor_invoiced_before(@invoice.date - 1)
  
  / Previous Invoices - Retainage
  %td.currency= number_to_currency line.component.labor_retainage_before(@invoice.date - 1)
  
  / Previous Payments - Paid
  %td.currency= number_to_currency line.component.labor_paid_before(@invoice.date - 1)
  
  / Previous Payments - Retained
  %td.currency= number_to_currency line.component.labor_retained_before(@invoice.date - 1)
  
  / Outstanding
  %td.currency= number_to_currency line.component.labor_cost_before(@invoice.date - 1) + line.component.contract_cost_before(@invoice.date - 1) - line.component.labor_invoiced_before(@invoice.date - 1)
  
  / Current Invoice - Invoice
  %td.currency= f.text_field :labor_invoiced
  
  / Current invoice - Retainage
  %td.currency
    = f.text_field :labor_retainage

  %td
    -unless line.retainage_as_expected?
      =icon :error
    %strong Labor
%tr
  %td.currency= number_to_currency line.component.material_cost_before(@invoice.date)
  
  / Previous Invoices - Invoiced
  %td.currency= number_to_currency line.component.material_invoiced_before(@invoice.date - 1)
  
  / Previous Invoices - Retainage
  %td.currency= number_to_currency line.component.material_retainage_before(@invoice.date - 1)
  
  / Previous Payments - Paid
  %td.currency= number_to_currency line.component.material_paid_before(@invoice.date - 1)
  
  / Previous Payments - Retained
  %td.currency= number_to_currency line.component.material_retained_before(@invoice.date - 1)
  
  / Outstanding
  %td.currency= number_to_currency line.component.material_cost_before(@invoice.date - 1) - line.component.material_invoiced_before(@invoice.date - 1)
  
  / Current Invoice - Invoice
  %td.currency= f.text_field :material_invoiced
  
  / Current invoice - Retainage
  %td.currency
    = f.text_field :material_retainage
    = f.hidden_field :id
  %td
    %strong Material
