%tr
  %td{:rowspan => 2}= line.cost.name
  %td.currency{:rowspan => 2}= number_to_currency line.cost.estimated_cost
  %td.currency= number_to_currency line.cost.labor_cost_before(@invoice.date)
  %td.currency= number_to_currency line.cost.labor_invoiced_before(@invoice.date - 1)
  %td.currency= number_to_currency line.cost.labor_retainage_before(@invoice.date)
  %td.currency= number_to_currency line.cost.labor_paid_before(@invoice.date)
  %td.currency= number_to_currency line.cost.labor_retained_before(@invoice.date)
  %td.currency= f.text_field :labor_invoiced
  %td.currency= f.text_field :labor_retainage
  %td
    %strong Labor
%tr
  %td.currency= number_to_currency line.cost.material_cost_before(@invoice.date)
  %td.currency= number_to_currency line.cost.material_invoiced_before(@invoice.date - 1)
  %td.currency= number_to_currency line.cost.material_retainage_before(@invoice.date)
  %td.currency= number_to_currency line.cost.material_paid_before(@invoice.date)
  %td.currency= number_to_currency line.cost.material_retained_before(@invoice.date)
  %td.currency= f.text_field :material_invoiced
  %td.currency= f.text_field :material_retainage
  %td
    %strong Material
