%h1 Listing invoice_lines

%table
  %tr
    %th Comment
    %th
    %th
    %th

  - @invoice_lines.each do |invoice_line|
    %tr
      %td= invoice_line.comment
      %td= link_to 'Show', [@invoice, invoice_line]
      %td= link_to 'Edit', edit_invoice_line_item_path(@invoice, invoice_line)
      %td= link_to 'Destroy', [@invoice, invoice_line], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Invoice line', new_invoice_line_item_path( @invoice )
