%tr.markup_fields
  %td
    %strong= f.label :name
    = f.text_field :name
  %td.number
    %strong= f.label :percent
    = f.text_field :percent
  %td.actions.control{:colspan => 3}
    = f.submit 'Save'

    -unless redirect_to.nil?
      =hidden_field_tag :redirect_to, redirect_to


