%table.markups
  %tr
    %th Name
    %th Percent
    %th
    %th

  - markups.each do |markup|
    %tr{:id => "markup_#{markup.id}"}
      %td=link_to markup.name, markup
      %td.number= number_to_percentage markup.percent, :precision => 1
      %td.control.edit= link_to 'Edit', edit_markup_path(markup), :remote => true
      %td.control.destroy= link_to 'Destroy', markup, :confirm => 'Are you sure?', :method => :delete

  - if markups.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.control.add_button
    %td{:colspan => 10}= link_to '(Add Markup)', new_markup_path, :remote => true
      
