-@project = @parent
-@markups = Markup.includes(:markings).where('markings.project_id = ?', @project.id)
=render :partial => 'shared/project_nav', :locals => {:current => :dashboard}

.container
  =render :partial => 'projects/nav', :locals => {:current => :markups}

  %h1 Markups

  =render :partial => 'markup_lines', :locals => {:markups => @markups}
  
  =add_button 'Add Markup', new_project_markup_path(@project)
  
  %h1 Applied Markups
  
  %p
    %h3 Project
    .markup_set
      .markup_header
        .title
        -@markups.each do |markup|
          .markup_title
            =markup.name
      =form_for @project do |f|  
        .markup_line
          .title= @project.name
          -@markups.each do |markup|
            .selector= check_box_tag "project[markup_ids][]", markup.id, @project.markups.include?(markup)
  
  %p
    %h3 Components

    .markup_set
      .markup_header
        .title Component Name
        -@markups.each do |markup|
          .markup_title= markup.name
      
      -@project.components.each do |component|
        =form_for [@project, component] do |f|
          =hidden_field_tag :redirect_to, project_markups_path(@project)
          .markup_line
            .title=link_to component.name, project_component_path(@project, component)
            -@markups.each do |markup|
              .selector= check_box_tag "component[markup_ids][]", markup.id, component.markups.include?(markup), {:onchange => "$('#edit_component_#{component.id}').submit();"}
   
  %p       
    %h3 Contracts
    .markup_set
      .markup_header
        .title Contract Name
        -@markups.each do |markup|
          .markup_title= markup.name
      
      -@project.contracts.each do |contract|
        =form_for [@project, contract] do |f|
          =hidden_field_tag :redirect_to, project_markups_path(@project)
          .markup_line
            .title=link_to contract.name, project_contract_path(@project, contract)
            -@markups.each do |markup|
              .selector= check_box_tag "contract[markup_ids][]", markup.id, contract.markups.include?(markup), {:onchange => "$('#edit_contract_#{contract.id}').submit();"}
  
  %p    
    %h3 Tasks
    .markup_set
      .markup_header
        .title Task Name
        -@markups.each do |markup|
          .markup_title= markup.name
        
      -@project.tasks.each do |task|
        =form_for [@project, task] do |f|
          =hidden_field_tag :redirect_to, project_markups_path(@project)
          .markup_line
            .title=link_to task.name, project_task_path(@project, task)
            -@markups.each do |markup|
              .selector= check_box_tag "task[markup_ids][]", markup.id, task.markups.include?(markup), {:onchange => "$('#edit_task_#{task.id}').submit();"}