=render :partial => 'shared/project_nav', :locals => {:current => :resources}

.container
  %h1 Resources

  %table
    %tr
      %th Name
      %th Description
      %th
      %th
      %th
      %th

    - @resources.each do |resource|
      %tr
        %td= resource.name
        %td= resource.description
        %td= link_to 'Schedule', resource_resource_allocations_path(resource)
        %td= link_to 'Show', resource
        %td= link_to 'Edit', edit_resource_path(resource)
        %td= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'New Resource', new_resource_path