-content_for :head do
  =javascript_include_tag "jquery.dimscreen.js"

=render :partial => 'shared/project_nav', :locals => {:current => :invoicing}

.container
  %h1
    Payment:
    =@payment.date

  %hr

  =render :partial => 'steps', :locals => {:current => :start}

  -if @payment.state == 'unassigned_costs'
    / Unassigned Costs
    .error
      %h2 Before you can set payment amounts...
      

  -else
    / Start

  =form_for [@project, @payment] do |f|
    -if @payment.errors.any?
      #error_explanation
        %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this labor_cost from being saved:"
        %ul
          - @payment.errors.full_messages.each do |msg|
            %li= msg
                
    .field
      = f.label :date
      = f.date_select :date
    
    .field
      = f.label :paid
      = f.text_field :paid

    .field
      = f.label :retained
      = f.text_field :retained
          
    .field
    = f.submit 'Next'
