%table
  %tr
    %th Name
    %th.number Quantity
    %th.control
    %th.control
    %th.control

  - material_cost_lines.each do |material_cost_line|
    %tr
      %td= material_cost_line.name
      %td.number= material_cost_line.quantity.to_i
      %td.control
      %td.control= link_to 'Edit', edit_material_cost_line_path(@material_cost, material_cost_line)
      %td.control= link_to 'Destroy', material_cost_line_path(@material_cost, material_cost_line), :confirm => 'Are you sure?', :method => :delete

  - if material_cost_lines.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.totals
    %td.right
      %strong Total Cost
    %td.currency
      %strong= number_to_currency( material_cost.cost )
    %td{:colspan => 5}