<% if @material_cost_line.errors.any? %>

  <% content_for :error_tr do %>
    <tr class='error'><td colspan = 10><strong><%= error_messages_for(@material_cost_line) %></strong></td></tr>
  <% end %>

  //Hide the flash notice div
  $("#flash_notice").hide(300);

  //Add a table row above the input with error info
  $("table.material_cost_lines tr.error").remove();
  $("table.material_cost_lines tr.material_cost_line_fields").before("<%= escape_javascript( yield :error_tr ) %>");

<% else %>

  <% content_for :table do %>
  	<%=render :partial => 'material_cost_lines_list', :locals => {:material_cost_lines => @material_cost_lines, :context => :po} %>
  <% end %>

  //Update the html of the div flash_notice with the new one
  $("#flash_notice").html("<%= escape_javascript(flash[:notice])%>");

  //Show the flash_notice div
  $("#flash_notice").show(300);

  //Replace the html of the div post_lists with the updated new one
  $('form').html( "<%= escape_javascript( yield :table ) %>");

  //Remove the form
  $('table.material_cost_lines').unwrap();
  
  //Load a new entry field
  $('tr.add_button > td > a').click();
  
<% end %>
