%p#notice= notice

%p
  %b Name:
  = @material_cost_line.name
%p
  %b Quantity:
  = @material_cost_line.quantity

= link_to 'Edit', edit_project_task_material_cost_line_path(@project, @task, @material_cost_line)
\|
= link_to 'Back', project_task_material_cost_lines_path(@project, @task)
