%p#notice= notice

%p
  %b Name:
  = @material_cost_line.name
%p
  %b Quantity:
  = @material_cost_line.quantity

= link_to 'Edit', edit_material_cost_line_path(@material_cost, @material_cost_line)
\|
= link_to 'Back', material_cost_lines_path(@material_cost)
