%table.quantities
  %tr
    %th Name
    %th.number Value
    %th Unit
    %th.control
    %th.control
    %th.control

  - quantities.each do |quantity|
    %tr{:id => "quantity_#{quantity.id}"}
      %td= quantity.name
      %td.number= quantity.value
      %td= quantity.unit
      %td.control
      %td.control.edit= link_to 'Edit', edit_component_quantity_path(@component, quantity), :remote => true
      %td.control.destroy= link_to icon(:delete), [@component, quantity], :confirm => 'Are you sure?', :method => :delete

  - if quantities.empty?
    %tr
      %td{:colspan => 10} (None)
      
  %tr.control.add_button
    %td{:colspan => 10}
      = link_to new_component_quantity_path(@component), :remote => true do
        =icon(:add)
        Add Quantity
