%table
  %tr
    %th Name
    %th
    %th.number Value
    %th Unit
    %th.number Drop
    %th.control
    %th.control
    %th.control
    %th.control

  - quantities.each do |quantity|
    %tr
      %td{:colspan => 2}= quantity.name
      %td.number= quantity.value
      %td= quantity.unit
      %td.number= number_to_percentage(quantity.drop, :precision => 1 )
      %td.control= link_to 'New Derived', new_component_derived_quantity_path(quantity, :parent_quantity_id => quantity.id)
      %td.control= link_to 'Show', [component, quantity]
      %td.control= link_to 'Edit', edit_component_quantity_path(component, quantity)
      %td.control= link_to 'Destroy', [component, quantity], :confirm => 'Are you sure?', :method => :delete
    - quantity.derived_quantities.each do |derived_quantity|
      %tr
        %td
        %td
          &uarr;
          ( x
          =derived_quantity.multiplier
          )
          = derived_quantity.name
        %td.number= derived_quantity.value
        %td= quantity.unit
        %td.number
        %td.control
        %td.control= link_to 'Show', [component, quantity]
        %td.control= link_to 'Edit', edit_component_quantity_path(component, quantity)
        %td.control= link_to 'Destroy', [component, quantity], :confirm => 'Are you sure?', :method => :delete  
        
  - if quantities.empty?
    %tr
      %td{:colspan => 10} (None)
      