-add = true if add.nil?
%table{:class => add ? 'quantities' : 'quantities_without_add'}
  %tr
    %th Name
    %th.number Value
    %th Unit
    %th.control
    %th.control

  - quantities.each do |quantity|
    %tr{:id => "quantity_#{quantity.id}"}
      %td= quantity.name
      %td.number= quantity.value
      %td= quantity.unit
      %td.control.edit= link_to 'Edit', edit_component_quantity_path(@component, quantity, :add => add), :remote => true
      %td.control.destroy= link_to icon(:delete), [@component, quantity], :confirm => 'Are you sure?', :method => :delete

  - if quantities.empty?
    %tr
      %td{:colspan => 10} (None)
