%p#notice= notice

%p
  %b Name:
  = @quantity.name
%p
  %b Value:
  = @quantity.value
%p
  %b Unit:
  = @quantity.unit
%p
  %b Drop:
  = @quantity.drop

= link_to 'Edit', edit_project_component_quantity_path(@project, @component, @quantity)
\|
= link_to 'Back', project_component_quantities_path(@project, @component)
