%p#notice= notice

%p
  %b Name:
  = @quantity.name
%p
  %b Value:
  = @quantity.value
%p
  %b Unit:
  = @quantity.unit
%p
  %b Drop:
  = @quantity.drop

= link_to 'Edit', edit_component_quantity_path(@component, @quantity)
\|
= link_to 'Back', component_quantities_path(@component)
