%h1 Listing suppliers

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @suppliers.each do |supplier|
    %tr
      %td= supplier.name
      %td= link_to 'Show', [@project, supplier]
      %td= link_to 'Edit', edit_project_supplier_path(@project, supplier)
      %td= link_to 'Destroy', [@project, supplier], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Supplier', new_project_supplier_path(@project)
